<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>

<body class="index-page">

<% include ../partials/header-sub %>


<div class="main-tab">
    <a href="/" class="current"><span>产品分类列表</span></a>
    <a href="/"><span>产品功能列表</span></a>
</div>

<div class="main-menu am-g am-g-fixed">
    <div class="am-u-sm-4">
        <div class="am-dropdown" data-am-dropdown>
            <button class="am-btn am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle><span>产品分类一级</span> <span class="am-icon-caret-down"></span></button>
            <ul class="am-dropdown-content">
                <% for(var i=0; i<category1.length; i++) { %>
                <li data-id="<%= category1[i].get('category1Id')%>" class="am-dropdown-header"><%= category1[i].get('name')%></li>
                <% } %>
            </ul>
        </div>
    </div>
    <div class="am-u-sm-4">
        <div class="am-dropdown" data-am-dropdown>
            <button class="am-btn am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle><span>产品分类二级</span> <span class="am-icon-caret-down"></span></button>
            <ul class="am-dropdown-content">
                <% if(category2) { %>
                    <% for(var i=0; i<category2.length; i++) { %>
                    <li data-id="<%= category2[i].get('category1Id')%>" class="am-dropdown-header"><%= category2[i].get('name')%></li>
                    <% } %>
                <% } %>
            </ul>
        </div>
    </div>
    <div class="am-u-sm-4">
        <div class="am-dropdown sort" data-am-dropdown>
            <button class="am-btn am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle><span>智能排序</span> <span class="am-icon-caret-down"></span></button>
            <ul class="am-dropdown-content">
                <li><a href="/search?keywords=<%= keywords%>&cat1=<%=cat1%>&cat2=<%=cat2%>&order=pageViews">热门</a> <i class="am-icon-star"></i></li>
                <li><a href="/search?keywords=<%= keywords%>&cat1=<%=cat1%>&cat2=<%=cat2%>&sales=1">销量</a> <i class="am-icon-line-chart"></i></li>
                <li><a href="/search?keywords=<%= keywords%>&cat1=<%=cat1%>&cat2=<%=cat2%>&price=asc">价格低-高</a> <i class="am-icon-sort-amount-desc"></i></li>
                <li><a href="/search?keywords=<%= keywords%>&cat1=<%=cat1%>&cat2=<%=cat2%>&price=desc">价格高-低</a> <i class="am-icon-sort-amount-asc"></i></li>
                <li><a href="/search?keywords=<%= keywords%>&cat1=<%=cat1%>&cat2=<%=cat2%>&stock=1">现货</a> <i class="am-icon-plane"></i></li>
                <li><a href="/search?keywords=<%= keywords%>&cat1=<%=cat1%>&cat2=<%=cat2%>">上架时间</a> <i class="am-icon-calendar-check-o"></i></li>
            </ul>
        </div>
    </div>
</div>

<form action="/search" method="get">
    <input type="text" value="<%= keywords %>" name="keywords" /><input type="submit" value="搜索" />
</form>

<% if (count > 0) { %>
<table>
    <% for(var i=0; i < items.length; i++) {%>
    <tr>
        <td><a href="/detail?id=<%=items[i].get('productId') %>"><%= items[i].get('name') %></a></td>
        <td><img width="132" src="<%= items[i].get('productId') %>" /></td>
        <td><%= items[i].attributes.salePrice %></td>
    </tr>
    <% } %>
</table>
<% } %>


<% include ../partials/footer %>
<% include ../partials/js %>
<script>
    $(function() {
        
    });
</script>
</body>
</html>