<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>

<body class="search-page">

<% include ../partials/header-sub %>


<div class="main-tab">
    <a href="/" class="current"><span>产品分类列表</span></a>
    <a href="/"><span>产品功能列表</span></a>
</div>

<div class="main-menu am-g am-g-fixed">
    <div class="am-u-sm-4">
        <div class="am-dropdown" data-am-dropdown>
            <ul class="am-dropdown-content">
                <% for(var i=0; i<category1.length; i++) { %>
                <% if (cat1 == category1[i].get('category1Id')) { category1Name = category1[i].get('name'); } %>
                <li data-id="<%= category1[i].get('category1Id')%>" class="am-dropdown-header"><a href="/search?cat1=<%=category1[i].get('category1Id')%>"><%= category1[i].get('name')%></a></li>
                <% } %>
            </ul>
            <button class="am-btn am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle><span><%= category1Name%></span> <span class="am-icon-caret-down"></span></button>
        </div>
    </div>
    <div class="am-u-sm-4">
        <div class="am-dropdown" data-am-dropdown>
            <ul class="am-dropdown-content">
                <% if(category2) { %>
                    <% for(var i=0; i<category2.length; i++) { %>
                    <% if (cat2 == category2[i].get('category2Id')) { category2Name = category2[i].get('name'); } %>
                    <li data-id="<%= category2[i].get('category1Id')%>" class="am-dropdown-header"><a href="/search?cat1=<%= cat1 %>&cat2=<%=category2[i].get('category2Id')%>"><%= category2[i].get('name')%></a></li>
                    <% } %>
                <% } else { %>
                <li data-id="" class="am-dropdown-header"><a href="javascript:;">请选择一级分类</a></li>
                <% } %>
            </ul>
            <button class="am-btn am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle><span><%= category2Name%></span> <span class="am-icon-caret-down"></span></button>
        </div>
    </div>
    <div class="am-u-sm-4">
        <div class="am-dropdown sort" data-am-dropdown>
            <button class="am-btn am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle><span><%= sortTitle%></span> <span class="am-icon-caret-down"></span></button>
            <ul class="am-dropdown-content">
                <li><a href="/search?keywords=<%= keywords%>&cat1=<%=cat1%>&cat2=<%=cat2%>&order=pageViews">热门 <i class="am-icon-star"></i></a></li>
                <li><a href="/search?keywords=<%= keywords%>&cat1=<%=cat1%>&cat2=<%=cat2%>&order=sales">销量 <i class="am-icon-line-chart"></i></a></li>
                <li><a href="/search?keywords=<%= keywords%>&cat1=<%=cat1%>&cat2=<%=cat2%>&price=asc">价格低-高 <i class="am-icon-sort-amount-desc"></i></a></li>
                <li><a href="/search?keywords=<%= keywords%>&cat1=<%=cat1%>&cat2=<%=cat2%>&price=desc">价格高-低 <i class="am-icon-sort-amount-asc"></i></a></li>
                <li><a href="/search?keywords=<%= keywords%>&cat1=<%=cat1%>&cat2=<%=cat2%>&stock=1">现货 <i class="am-icon-plane"></i></a></li>
                <li><a href="/search?keywords=<%= keywords%>&cat1=<%=cat1%>&cat2=<%=cat2%>">上架时间 <i class="am-icon-calendar-check-o"></i></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="am-alert alert-search-info">共有<span><%= count %></span>条记录</div>

<% if (count > 0) { %>
    <ul class="main-list">
    <% for(var i=0; i< items.length;i++) {%>
        <li>
            <div class="img">
                <a href="/detail/<%=items[i].get('productId') %>"><img src="/<%= asset %>/images/default/common/lazy.png" class="lazy" width="100" height="100" data-original="<% for(var n in items[i].get('mainImage')) { %><% if(items[i].attributes.mainImage[n].isMainImage) { %><%= items[i].attributes.mainImage[n].url %>?imageMogr2/thumbnail/200<%break;}}%>" /></a>
            </div>
            <div class="detail">
                <h3><a href="/detail/<%=items[i].get('productId') %>"><%= items[i].get('name') %></a></h3>
                <p>
                    <span class="price">¥<strong> <%= (items[i].get('price') > 0 ? parseFloat(items[i].get('price')) : 0.00) %></strong></span>
                    <span><%=items[i].get('pageViews') %>次浏览</span>
                </p>
                <p>
                    <% if (items[i].get('stock') > 0) { %><span class="active"><i class="am-icon-check"></i>现货</span><% } %>
                    <% if (items[i].get('isRefund')) { %><span class="active"><i class="am-icon-history"></i>7天退款</span><% } %>
                    <% if (items[i].get('isHandmade')) { %><span class="active"><i class="am-icon-modx"></i>纯手工</span><% } %>
                    <% if (items[i].get('isOnly')) { %><span class="active"><i class="am-icon-gavel"></i>只此一件 </span><% } %>
                </p>
            </div>
        </li>
        
    <% } %>
    </ul>
    <div class="navigation">
        <a href="/search/ajax?page=1"></a>
    </div>
<% } else {%>
    <ul class="main-list">
        <li><span class="color-gray f-13">没有搜索到相关产品,请重新进行查询哦.</span> </li>
    </ul>
<%}%>

<input type="hidden" id="ajax-search" value="<%= JSON.stringify({keywords,order,stock,cat1,cat2,price}) %>" />
<input type="hidden" id="count" value="<%= count %>" />

<% include ../partials/footer %>
<% include ../partials/js %>
<script>
    $(function() {
        
    });
</script>
</body>
</html>