<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>
<body class="order-page">

<div class="am-container">

    <form id="form" class="am-form" action="/order/express" method="get">
        <p class="color-gray"><i class="am-icon-info-circle color-main"></i> 请输入您的订单收货信息所使用的手机号码</p>
        <div class="am-form-group am-form-icon">
            <i class="am-icon-mobile"></i>
            <input id="mobile" name="mobile" maxlength="11" value="<%= mobile %>" autocomplete="off" type="text" class="am-form-field" placeholder="请输入您的手机号">
        </div>
        <p><button id="submit" type="submit" class="am-btn am-btn-primary">查询</button></p>
    </form>





    <div class="order-list">

        <% if (items){ %>


        <% for(var i=0;i< items.length;i++) {%>

        <a href="/order/express/query/<%= items[i].attributes.trackingNumber %>/<%= items[i].attributes.shippingCompany %>"><%= items[i].attributes.customerName %></a>

        <% } %>

        <% } else { %>
        没有数据
        <% } %>

        <div class="color-steps color-steps-vertical">
            <div class="color-steps-item color-steps-status-finish">
                <div class="color-steps-tail"><i></i></div>
                <div class="color-steps-step">
                    <div class="color-steps-head">
                        <div class="color-steps-head-inner"><span class="color-steps-icon coloricon am-icon-send"></span></div>
                    </div>
                    <div class="color-steps-main">
                        <div class="color-steps-title">注册用户</div>
                        <div class="color-steps-description">仅限手机注册</div>
                    </div>
                </div>
            </div>


            <div class="color-steps-item color-steps-item-last color-steps-status-wait">
                <div class="color-steps-step">
                    <div class="color-steps-head">
                        <div class="color-steps-head-inner"><span class="color-steps-icon">3</span></div>
                    </div>
                    <div class="color-steps-main">
                        <div class="color-steps-title">登录用户</div>
                        <div class="color-steps-description">使用新账号登录</div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

<% include ../partials/js %>
<script>
    $(function() {
        var order = require('order');
        order.expressFun();
    });
</script>
</body>
</html>