<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <% include ../partials/css %>
</head>
<body class="admin-article-page">

<% include ../partials/header %>

<div class="am-cf admin-main">

    <!-- sidebar start -->
    <% include ../partials/sidebar %>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content admin-article-page">

        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong><a href="/admin/article">文章列表</a></strong> / 编辑文章</div>
        </div>

        <div class="am-g">
            <div class="am-u-sm-12">

                <form id="form-add-product" class="am-form" method="post" >

                    <!-- name start -->
                    <div class="am-form-group">
                        <label for="name">文章名称: <i>*</i></label>
                        <input id="name" name="name" type="text" value="<%= article.get('name') %>" required />
                    </div>
                    <!-- name end -->

                    <hr/>

                    <!-- name start -->
                    <div class="am-form-group">
                        <label for="englishName">文章英文名称: </label>
                        <input id="englishName" name="englishName" type="text" value="<%= article.get('englishName') %>"  />
                    </div>
                    <!-- name end -->

                    <hr/>

                    <!--  course template start -->
                    <div class="am-form-group">
                        <label for="article-category" >文章分类<i>*</i></label>
                        <select required name="articleCategoryId" id="article-category">
                            <option value="">选择分类</option>
                            <% for (var i = 0; i < articleCategory.length; i++) { %>
                            <option <% if (articleCategory[i].get('articleCategoryId') == article.get('articleCategoryId')) { %>selected<% } %> value="<%= articleCategory[i].get('articleCategoryId')%>"><%= articleCategory[i].get('name')%></option>
                            <% } %>
                        </select>
                    </div>
                    <!--  course template end -->

                    <hr/>

                    <!-- images start -->
                    <div class="am-form-group">
                        <label for="image">文章主图图片(大小750px*750px): </label>
                        <input id="image" name="image" type="text" placeholder="输入文章图片" value="<%= article.get('image')%>"/>
                        <div class="main-image-view">
                            <% if(article.get('image')) { %>
                             <a href="<%= article.get('image') %>" target="_blank">
                                 <img width="100" src="<%= article.get('image') %>?imageMogr2/thumbnail/100">
                             </a>
                            <%}%>
                        </div>
                        <hr/>
                        <div class="upload-content">
                            <iframe class="upload" src="/admin/article/upload?callback=uploadMainImageSuccess" frameborder="0"></iframe>
                        </div>
                    </div>
                    <!-- images end -->

                    <hr/>

                    <!-- image weitao start -->
                    <div class="am-form-group">
                        <label for="image">微淘主图图片(大小750px*422px): </label>
                        <input id="image-weitao" name="image-weitao" type="text" placeholder="输入微淘文章主图" value="<%= article.get('imageWeitao')%>"/>
                        <div class="main-image-weitao-view">
                            <% if(article.get('imageWeitao')) { %>
                            <a href="<%= article.get('imageWeitao') %>" target="_blank">
                                <img width="100" src="<%= article.get('imageWeitao') %>?imageMogr2/thumbnail/100">
                            </a>
                            <%}%>
                        </div>
                        <hr/>
                        <div class="upload-content">
                            <iframe class="upload" src="/admin/article/upload?callback=uploadMainImageWeitaoSuccess" frameborder="0"></iframe>
                        </div>
                    </div>
                    <!-- images weitao end -->

                    <hr>

                    <!-- 文章简介 -->
                    <div class="am-form-group">
                        <label for="content">文章简介 <small>(markdown语法)</small>:</label>
                        <textarea id="summary" name="summary" rows="3"><%= article.get('summary') %></textarea>
                    </div>

                    <hr/>

                    <!-- content start -->
                    <div class="am-form-group">
                        <label for="content">文章详情<small>(markdown语法)</small>:</label>
                        <textarea id="content" name="content" rows="10"><%= article.get('content') %></textarea>
                        <br>
                        <div>
                            <button type="button" class="btn-edit-fullscreen am-btn am-btn-primary" data-target="#content">全屏编辑</button>
                            <button type="button" class="btn-replace-br am-btn am-btn-primary" data-target="#content">自动替换换行</button>
                            <button type="button" class="btn-replace-br-cancel am-btn am-btn-primary" data-target="#content">取消自动替换换行</button>
                            <label class="detail-label-info"></label>
                        </div>
                    </div>

                    <hr>

                    <!-- images start -->
                    <div class="am-form-group">
                        <label for="detail-images">添加详情图片(建议图片宽度：800px，可多选图片)：</label>
                        <div class="upload-content">
                            <iframe class="upload" src="/admin/article/upload?callback=uploadDetailImageSuccess" frameborder="0"></iframe>
                        </div>
                        <ul class="image-list">
                            <% if (article.get('detailImages')) { %>
                            <%  var detailImageArray = article.get('detailImages').split(',');
                            if(article.get('detailImages').length) {
                            for (var i =0;i< detailImageArray.length; i++) { %>
                            <li class="am-cf">
                                <div class="am-fl"><input type="checkbox" /></div>
                                <div class="am-fr">
                                    <p><a class="img-link" href="<%= detailImageArray[i]%>" target="_blank"><img src="<%= detailImageArray[i] %>?imageMogr2/thumbnail/100"/></a></p><p><a class="move" href="javascript:;">前移</a> <span class="copy"><a class="copy-url" href="javascript:;">复制</a></span> <a class="remove" href="javascript:;">删除</a></p></div></li>
                            <% } %>
                            <% } %>
                            <% } %>
                        </ul>
                        <input id="detail-images" name="detail-images" type="hidden" value="<%= article.get('detailImages') %>">
                    </div>
                    <!-- images end -->

                    <!-- content end -->

                    <hr>

                    <!-- taobao link start -->
                    <div class="am-form-group">
                        <label for="content">网店链接:</label>
                        <input type="text" id="taoBaoLink" name="taoBaoLink" value="<%= article.get('taoBaoLink') %>">
                    </div>
                    <!-- taobao link end -->

                    <hr>

                    <!-- weibo link start -->
                    <div class="am-form-group">
                        <label for="content">微博链接:</label>
                        <input type="text" id="weiBoLink" name="weiBoLink" value="<%= article.get('weiBoLink') %>">
                    </div>
                    <!-- weibo link end -->

                    <hr>

                    <!-- weibo link start -->
                    <div class="am-form-group">
                        <label for="content">原文链接:</label>
                        <input type="text" id="originalLink" name="originalLink" value="<%= article.get('originalLink') %>">
                    </div>
                    <!-- weibo link end -->

                    <hr>

                    <!-- video start -->
                    <div class="am-form-group">
                        <label for="video-link">文章视频：</label>
                        <input id="video-link" name="video-link" type="text" value="<%= article.get('videoLink')%>" placeholder="输入文章视频"/>
                        <br>
                        <div class="upload-content">
                            <iframe class="upload" src="/admin/article/upload?callback=uploadVideoFileSuccess" frameborder="0"></iframe>
                        </div>
                    </div>
                    <!-- video end -->

                    <hr>


                    <div>
                            <label>选择标签：</label>
                            <div>
                                <% if (articleTag) { %>
                                <% for (var i = 0; i < articleTag.length; i++) {
                                    var checked = '';
                                %>
                                <% if (article.get('tag').length > 0) { %>
                                <% for (var k = 0; k < article.get('tag').length; k++) { %>
                                <% if(article.get('tag')[k] == articleTag[i].get('articleTagId')) {
                                    checked = "checked";
                                } %>
                                <% } %>
                                <% }%>
                                <label> <input type="checkbox" name="tag" <%=checked%> value="<%= articleTag[i].get('articleTagId')%>" /> <%=articleTag[i].get('name')%> </label><span class="sp"></span>
                                <%
                                }
                                } %>
                            </div>

                    </div>

                    <hr>
                    <div class="am-form-group">
                        <div>
                            <label>父文章ID：</label>
                            <input type="text" name="parent-article-id" value="<%= article.get('parentArticleId')%>">
                        </div>
                    </div>

                    <hr>

                    <div class="am-form-group">
                        <div>
                            <label>子文章排序编号：</label>
                            <input type="text" name="sort" value="<%= article.get('sort')%>">
                        </div>
                    </div>

                    <hr>

                    <!-- push start -->
                    <div class="am-form-group">
                        <div>
                            <label><strong>发布文章：<input type="checkbox" name="status" <%if(article.get('status')) { %> checked="checked"<% }%>></strong></label>
                        </div>
                    </div>
                    <!-- push end -->

                    <hr>

                    <div class="am-form-group">
                        <button id="submit" type="submit" class="am-btn am-btn-primary">保存</button>
                        <button type="button" class="am-btn am-btn-primary" onclick="history.back(-1);">返回</button>
                    </div>

                </form>

            </div>
        </div>

    </div>
    <!-- content end -->

</div>


<!-- modal fullscreen detail -->
<div class="am-modal am-modal-confirm" tabindex="-1" id="modal-detail-fullscreen">
    <div class="am-modal-dialog">
        <div class="am-modal-bd">
            <textarea class="textarea-detail-fullscreen" rows="20"></textarea>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-confirm>保存</span>
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
        </div>
    </div>
</div>


<% include ../partials/footer %>
<% include ../partials/js %>

<script type="text/javascript">
    var article;
    $(function () {
        require('upload');
        article = require('article');
        article.editFun();
    });


    //iframe upload detail images callback
    function uploadDetailImageSuccess(data) {
        article.uploadDetailImageSuccess(data);
    }

    //iframe upload callback
    function uploadMainImageSuccess(data) {
        $('#image').val(data[0].url).trigger('change');;

    }
    //iframe upload callback
    function uploadVideoFileSuccess(data) {
        $('#video-link').val(data[0].url).trigger('change');;
    }
    function uploadMainImageWeitaoSuccess(data) {
        $('#image-weitao').val(data[0].url).trigger('change');;
    }

</script>

</body>
</html>