<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <% include ../partials/css %>
</head>
<body class="admin-article-page">

<% include ../partials/header %>

<% if (flash.success != '') { %>
<div class="am-alert am-alert-success"><p><%= flash.success %></p></div>
<% } %>

<div class="am-cf admin-main">

    <!-- sidebar start -->
    <% include ../partials/sidebar %>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content ">

        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong><a href="/admin">首页</a></strong> / <a href="/admin/article">文章列表</a></div>
        </div>

        <div class="am-g">
            <div class="am-form">

                <div class="cf">
                    <div class="am-u-sm-12 am-u-md-3">
                        <form action="/admin/article" method="get">
                            <div class="am-form-group">
                                <div class="am-input-group am-input-group-sm">
                                    <input type="text" name="search" value="<%=search%>" class="search am-form-field" placeholder="搜索文章标题">
                                    <span class="am-input-group-btn"><button class="am-btn am-btn-primary" type="submit">搜索</button></span>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="am-u-sm-12 am-u-md-2">
                        <div class="am-form-group">
                            <select class="" name="articleCategory" id="articleCategory">
                                <option value="">选择分类</option>
                                <% for(var j = 0; j < articleCategory.length; j++) { %>
                                <option <% if (articleCategoryId ==  articleCategory[j].get('articleCategoryId')) { %> selected <% } %>value="<%= articleCategory[j].get('articleCategoryId')%>"><%= articleCategory[j].get('name')%></option>
                                <% } %>
                            </select>
                        </div>
                    </div>

                    <div class="am-u-sm-12 am-u-md-7">
                    </div>

                </div>

            </div>
        </div>

        <div class="am-g">
            <div class="am-u-sm-12">

                <table class="am-table am-table-striped">
                    <thead>
                    <tr>
                        <th width="300">文章名称</th>
                        <th class="t-c">所属分类</th>
                        <th class="t-c">网店链接</th>
                        <th class="t-c">视频链接</th>
                        <th class="t-c">数据</th>
                        <th class="t-c">操作</th>
                        <th class="t-c">更新日期</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% if(article) { %>
                    <% for(var i=0; i < article.length; i++) {%>
                    <tr>
                        <td>
                            <a href="<%=article[i].get('image') %>" target="_blank">
                                <img width="40" src="<%=article[i].get('image') %>?imageMogr2/thumbnail/40" alt="" data-am-popover="{content:'<img width=150 src=<%=article[i].get('image') %>?imageMogr2/thumbnail/150>', trigger:'hover focus'}">
                            </a>

                            <a href="/admin/article/edit/<%= article[i].get('articleId') %>"><%= article[i].get('name') %></a>
                        </td>
                        <td class="t-c">
                            <% for(var j = 0; j < articleCategory.length; j++) { %>
                                <% if (articleCategory[j].get('articleCategoryId') == article[i].get('articleCategoryId')) { %>
                                    <a href="/admin/article?article-category-id=<%= article[i].get('articleCategoryId')%>&search=<%= search%>"><%= articleCategory[j].get('name') %></a>
                                <% } %>
                            <% } %>
                        </td>
                        <td class="t-c">
                            <% if(article[i].get('taoBaoLink')) { %><a target="_blank" href="<%= article[i].get('taoBaoLink') %>"><i class="am-icon-link"></i></a><%}else{%>-<%}%>
                        </td>
                        <td class="t-c">
                            <% if(article[i].get('videoLink')) { %><a target="_blank" href="<%= article[i].get('videoLink') %>"><i class="am-icon-video-camera"></i></a><%}else{%>-<%}%>
                        </td>
                        <td class="t-c">浏览:<%= article[i].get('pageView') %></td>
                        <td class="t-c">
                            <a href="javascript:;"  target="_blank" data-id="<%= article[i].get('articleId') %>" class="btn-preview">预览</a>
                            <a href="/admin/article/copy/<%= article[i].get('articleId') %>">复制</a>
                            <a href="javascript:;" data-id="<%= article[i].get('articleId') %>" class="remove-article">删除</a>
                        </td>
                        <td class="t-c">
                            <%= article[i].get('updatedAt').getFullYear()%>-<%= article[i].get('updatedAt').getMonth() + 1 %>-<%= article[i].get('updatedAt').getDate()%>
                        </td>
                    </tr>
                    <% }
                    } %>
                    </tbody>
                </table>

                <div class="am-pager am-cf">
                    <div class="am-fl">
                        <ul class="am-pagination">
                            <%- pagerHtml %>
                        </ul>
                    </div>
                    <div class="am-fr">第<%=pager.page%>页 共<%=pager.count%>条</div>
                </div>

                <div class="am-form-group">
                    <a href="/admin/article/add" class="am-btn am-btn-primary" role="button">添加文章</a>
                </div>

            </div>
        </div>

    </div>
    <!-- content end -->

</div>


<!-- modal 删除 -->
<div class="am-modal am-modal-confirm" tabindex="-1" id="confirm-remove-article">
    <div class="am-modal-dialog">
        <div class="am-modal-bd">
            确定要删除这条记录吗？
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
        </div>
    </div>
</div>
<!-- modal 删除 -->


<!-- modal alert -->
<div class="am-modal am-modal-confirm" tabindex="-1" id="modal-alert">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">提示</div>
        <div class="am-modal-bd"></div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-confirm>确认</span>
        </div>
    </div>
</div>
<!-- modal alert -->

<!-- modal preview -->
<div class="am-modal am-modal-no-btn" tabindex="-1" id="modal-preview">
    <div class="am-modal-dialog">
        <div class="am-modal-bd article-content">
            <iframe id="iframe-article" src="" frameborder="0"></iframe>
        </div>
    </div>
</div>
<!-- modal preview -->

<% include ../partials/footer %>
<% include ../partials/js %>

<script type="text/javascript">
    $(function () {
        var article = require('article');
        article.indexFun();
    });
</script>
</body>
</html>