<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>

<body class="detail-page">

<input type="hidden" id="product-id" value="<%= item.productId %>">
<input type="hidden" id="product-method-id" value="<%= item.productMethod %>">
<input type="hidden" id="shop-link" value="<%=item.shopLink[1]%>" />

<header class="sub fixed">
    <div class="back">
        <a href="javascript:;" class="go-back">
            <i class="am-icon-angle-left"></i>
        </a>
    </div>
</header>

<div class="am-slider am-slider-default slider-image-view">
    <% var imageViewArray = [];
        for(var i in item.mainImage){
            if(item.mainImage[i].isMainImage) {
                imageViewArray.push(item.mainImage[i].url.replace('ac-QuiPuWpJ.clouddn.com','lc-QuiPuWpJ.cn-n1.lcfile.com').replace(/lc-QuiPuWpJ.cn-n1.lcfile.com/gi, 'image.wish698.cn')+water)
            }
    }
    %>
    <% if(imageViewArray.length == 1){%>
        <div><img src="<%= imageViewArray[0]; %>" /></div>
    <%}else{%>
        <ul class="am-slides lazy-container-view">
            <% for(var j = 0;j < imageViewArray.length; j++) { %>
            <li><img src="<%= imageViewArray[j]; %>" /></li>
            <% } %>
        </ul>
    <%}%>
</div>

<div class="crumb">
    <a href="/product?method=<%=item.productMethod[0]%>&cat1=<%=category1.category1Id%>"><%=category1.name%></a> <i class="am-icon-angle-right"></i> <a href="/product?method=<%=item.productMethod[0]%>&cat1=<%=category1.category1Id%>&cat2=<%=category2.category2Id%>"><%=category2.name%></a>
</div>

<h1><%if(item.isHot){%><sup class="hot"></sup><%}%><%- item.name %>
    [ID:<%= item.productId %>]
    <!--
    <a title="分享给好友" class="events-share" href="javascript:;"><i class="am-icon-share-alt"></i></a>
    -->
</h1>

<div class="guarantee-content">
    <span><i class="am-icon-leaf"></i> 正品保障</span>
    <%if(item.isRefund){%><span><i class="am-icon-history"></i> 7天退货</span><%}%>
    <% if(item.stock > 0) { %><span><i class="am-icon-check"></i> 现货</span><% } %>
    <%if(item.isDocument){%><span><i class="am-icon-book"></i> 产品说明书</span><%}%>
    <%if(item.isHandmade){%><span><i class="am-icon-modx"></i> 纯手工</span><%}%>
    <%if(item.isOnly){%><span><i class="am-icon-legal"></i> 唯一产品</span><%}%>
</div>

<div class="info-content">
    <div class="info">
        <div>
            <span class="price">¥ <%= (item.price ? item.price : '-') %> <a href="javascript:;" data-am-popover="{content:'此价格为参考价格,实际价格请参考淘宝店铺。'}"> 参考价格 <i class="am-icon-question-circle"></i></a></span>

            <!--
            <% if(item.stock){%>
            <span class="stock">
                <a class="in-stock" href="javascript:;">
                库存:
                <%if(item.stock < 11){%>
                    <%= item.stock%>
                <%}else{%>
                    <i class="am-icon-angle-right"></i>10
                <%}%>
            </a></span>
            <%}%>
            -->

            <span class="stock">
                <% if(item.isShortStock && item.isOnly){%>
                <a class="short-stock" href="javascript:;" data-am-popover="{content:'该产品只有一件并已售完,请继续关注上架新品.'}"> 已售完 <i class="am-icon-question-circle"></i></a>
                <%} else if(item.isShortStock){%>
                <a class="short-stock" href="javascript:;" data-am-popover="{content:'该产品暂时缺货或断货,其原因可能为海外卖家材料,配件等供应不足造成,您可咨询我们了解该产品的最新供货进程。'}"> 缺货/断货 <i class="am-icon-question-circle"></i></a>
                <%} else if(item.stock){%>
                <a class="in-stock" href="javascript:;" data-am-popover="{content:'通常情况下该产品有现货,但不排除特殊情况,比如其只有少量现货时,同一时间段内同时被其他客户拍下导致无货,您可以拍下之前咨询我们库存情况。'}"> 现货 <i class="am-icon-info-circle"></i></a>
                <%} else { %>
                <a class="out-stock" href="javascript:;" data-am-popover="{content:'该件产品暂时没有库存,您可咨询我们了解新品物流状态,并可点击产品属性查看该产品大致到货时间。'}"> 暂无现货 <i class="am-icon-question-circle"></i></a>
                <%}%>
            </span>
            
        </div>
        <p>
            <span>浏览量:<strong> <%= item.pageViews %></strong></span>
            <span>总销量:<strong> <%if(item.sales == 0){%>-<%}else{%><%=item.sales%><%}%></strong></span>
            <span>月销量:<strong> <%= item.monthSales%></strong></span>
        </p>
    </div>
    <div class="favorite-box">
        <input id="favorite" type="checkbox" data-product-id="<%=item.productId%>" <%if(wish){%>checked="checked"<%}%> />
        <label for="favorite" aria-label="like"><i class="am-icon-heart"></i></label>
        <span <%if(wish){%>class="active"<%}%> ><i class="favorite-text"><%if(wish){%>已收藏<%}else{%>收藏<%}%></i>(<i class="favorite-count"><%= wishCount %></i>)</span>
    </div>
</div>

<% if(item.attachment){
 item.attachment = item.attachment.trim();
 var attachments = item.attachment.split('\n');
%>
<div class="attachment-content">
    <a class="show" href="javascript:;">该产品包含附件/说明,点击查看 <i class="am-icon-angle-down"></i></a>
    <ul>
        <%for(var i=0;i<attachments.length;i++){%>
            <li><%= attachments[i].split(' ')[0] %> <a href="<%=attachments[i].split(':')[1]%>">[查看]</a></li>
        <%}%>
    </ul>
</div>
<%}%>

<div class="am-tabs <%if(item.productBrandId){%>row-3<%}%>" data-am-tabs>
    <ul class="am-tabs-nav am-nav am-nav-tabs">
        <li class="am-active"><a href="#tab-product-detail">产品详情</a></li>
        <li><a href="#tab-product-param">产品属性</a></li>
        <%if(item.productBrandId){%>
        <li><a href="#tab-product-brand">品牌介绍</a></li>
        <%}%>
    </ul>
    <div class="am-tabs-bd ">
        <div class="am-tab-panel am-active detail" id="tab-product-detail">

            <%if(item.detail){%>
            <h3>详情介绍:</h3>
            <div class="content"><%- item.detail %></div>
            <%}%>

            <%if(item.use){%>
            <h3>使用说明:</h3>
            <div class="content"><%- item.use %></div>
            <%}%>
            
            <%if(item.instruction){%>
                <h3>产品说明:</h3>
                <div class="content"><%- item.instruction%></div>
            <%}%>
            
            <%if(item.detailImage){%>
                <h3>产品图片:</h3>
                <div class="detail-image content">
                    <%- item.detailImage %>
                </div>
            <%}%>
            
        </div>
        
        <div class="am-tab-panel param" id="tab-product-param">
            <ul>
                <!--
                <% if(item.country == 'us') { %><li>产地/国家: 美国</li> 
                <% } else if(item.country == 'in') { %><li>产地/国家: 印度</li>
                <% } else if(item.country == 'tw') { %><li>产地/国家: 中国台湾</li>  
                <% } else if(item.country == 'eu') { %><li>产地/国家: 欧洲</li>  
                <% } else if(item.country == 'uk') { %><li>产地/国家: 英国</li>  
                <% } else if(item.country == 'au') { %><li>产地/国家: 澳洲</li>  
                <% } else if(item.country == 'fr') { %><li>产地/国家: 法国</li>  
                <% } else if(item.country == 'de') { %><li>产地/国家: 德国</li>  
                <% } else if(item.country == 'ca') { %><li>产地/国家: 加拿大</li>  
                <% } else if(item.country == 'cn') { %><li>产地/国家: 中国</li>  
                <% } else if(item.country == 'other') { %><li>产地/国家: 其他</li><%}%>

-->

                <!--
                <% if(item.arrivedTime == 1) { %><li>到货时间: <span class="color-green"><strong>非常快 (约1-2周)</strong></span></li>
                <% } else if(item.arrivedTime == 2) { %><li>到货时间: <span class="color-green"><strong>较快 (约2-3周)</strong></span></li>
                <% } else if(item.arrivedTime == 3) { %><li>到货时间: <span class="color-orange">一般 (约3-4周)</span></li>
                <% } else if(item.arrivedTime == 4) { %><li>到货时间: <span class="color-orange">较慢 (1个月以上)</span></li>
                <% } else if(item.arrivedTime == 5) { %><li>到货时间: <span class="color-orange">非常慢 (2个月以上)</span></li>
                <%}%>
                -->
                
                <%- item.property.replace('<ul>','').replace('</ul>',''); %>
            </ul>
        </div>



        <%if(item.productBrandId){%>
        <div class="am-tab-panel detail brand" id="tab-product-brand">
            <dl>
                <dt>
                    <img src="https://img1.etsystatic.com/159/0/83486219/iusa_400x400.49372917_kao0.jpg" alt="" width="60" height="60">
                </dt>
                <dd>
                    <h4>Alyssa H.</h4>
                    <p>Randolph Township, NJ, United States</p>
                </dd>
            </dl>
            
            <div></div>
            
        </div>
        <%}%>
        
    </div>
    
</div>

<div class="buy-button">
    <button type="button" id="buy" class="am-btn am-btn-default">加入购物车</button>
</div>

<div class="events">
    <a class="events-good" href="javascript:;"><i class="am-icon-thumbs-up"></i> <span>点赞  <%if(item.approval){%>( <em><%=item.approval%></em> )<%}%></span> </a>
    <!--
    <a class="events-share" href="javascript:;"><i class="am-icon-share"></i> <span>分享给好友</span> </a>
    -->
</div>



<div class="recommend-content"></div>


<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>

<div class="am-modal am-modal-alert" tabindex="-1" id="modal-buy">
    <div class="am-modal-dialog">
        <div class="am-modal-hd color-main success">生成口令成功!</div>
        <div class="am-modal-hd color-main failed">生成口令失败</div>
        <div class="am-modal-bd success">
            请直接打开淘宝APP客户端,或<a href="javascript:;" class="open-tb-link" target="_blank">点此使用浏览器打开</a>即可添加淘宝购物车并直接购买哦!
        </div>
        <div class="am-modal-bd failed">
            该产品链接尚未生成淘宝口令链接,您可以直接访问淘宝店铺"<strong class="tb-name"></strong>",或<a href="javascript:;" class="open-tb-link" target="_blank">点此使用浏览器打开</a>即可添加淘宝购物车并直接购买哦!
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn">确定</span>
        </div>
    </div>
</div>

<% include ../partials/footer %>
<% include ../partials/js %>
<script>
    $(function() {
        var productDetail = require('product-detail');
        productDetail.init();
        productDetail.recommendProducts(JSON.parse('<%- item.groups %>'),JSON.parse('<%- groupsName %>'));
    });
</script>
</body>
</html>