<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>

<body class="detail-page">

<header class="sub fixed">
    <div class="back">
        <a href="javascript:;" class="go-back">
            <i class="am-icon-angle-left"></i>
        </a>
    </div>
</header>

<div class="am-slider am-slider-default slider-image-view">
    <ul class="am-slides lazy-container-view">
        <% var imageViewArray = []; 
           for(var i in item.mainImage){ 
             if(item.mainImage[i].isMainImage) { 
                imageViewArray.push(item.mainImage[i].url) 
             }
           }
        %>
        <% for(var j = 0;j < imageViewArray.length; j++) { %>
            <% if(j===0) { %>
              <li><img src="<%= imageViewArray[j]; %>" /></li>
            <% }else{ %>
              <li><img class="lazy-container" src="//ac-JoaBcRTt.clouddn.com/182b4902f18265f1f5ff.png" data-original="<%= imageViewArray[j]; %>" /></li>
            <% } %>
        <% } %>
    </ul>
</div>

<h1><%- item.name %></h1>

<div class="info-content">
    <div class="info">
        <strong class="price">¥ <%= item.price || 0 %>.00</strong>
        <div>
            <span>浏览量: <strong>2000</strong></span>
            <span>总销量: <strong>10</strong></span>
            <span>月均销量: <strong>2</strong></span>
        </div>
    </div>
    <div class="favorite-box">
        <input id="favorite" type="checkbox" data-product-id="<%=item.productId%>" <%if(wish){%>checked="checked"<%}%> />
        <label for="favorite" aria-label="like"><i class="am-icon-heart"></i></label>
        <span <%if(wish){%>class="active"<%}%> ><i class="favorite-text"><%if(wish){%>已收藏<%}else{%>收藏<%}%></i>(<i class="favorite-count"><%= wishCount %></i>)</span>
    </div>
</div>

<div class="am-tabs row-3" data-am-tabs>
    <ul class="am-tabs-nav am-nav am-nav-tabs">
        <li class="am-active"><a href="#tab-product-detail">产品详情</a></li>
        <li><a href="#tab-product-param">产品属性</a></li>
        <li><a href="#tab-product-brand">品牌故事</a></li>
    </ul>
    <div class="am-tabs-bd ">
        <div class="am-tab-panel am-active detail" id="tab-product-detail">

            <%if(item.detail){%>
            <h3>详情介绍:</h3>
            <div class="content"><%- item.detail %></div>
            <%}%>

            <%if(item.use){%>
            <h3>使用说明:</h3>
            <div class="content"><%- item.use %></div>
            <%}%>
            
            <%if(item.instruction){%>
                <h3>产品说明:</h3>
                <div class="content"><%- item.instruction%></div>
            <%}%>
            
            <%if(item.detailImage){%>
                <h3>产品图片:</h3>
                <div class="detail-image content">
                    <%- item.detailImage.replace(/src\=/gi,'class="lazy" src="//ac-JoaBcRTt.clouddn.com/182b4902f18265f1f5ff.png" data-original='); %>
                </div>
            <%}%>
            
        </div>
        
        <div class="am-tab-panel param" id="tab-product-param">
            <%if(item.property) { %>
                <%- item.property %>
            <%}else{%>
                <ul><li>-</li></ul>
            <%}%>
        </div>

        <div class="am-tab-panel detail" id="tab-product-brand">

            <p>使用精油，芳香的材料来涂抹身体是一种习惯回溯到遥远的古代
                古代的医生用他们的身体油膏他们的感觉和诱导的愿景。
                神圣的油的使用是与超自然的接触的主要方式，并且使用气味作为心理兴奋剂是成熟的。
                用油来涂抹装饰蜡烛时，是从中间向上，然后从中间向下，直到整个外表面被油覆盖，而不是从顶部到底部或从底部到顶部一个行程。
                在涂抹时，集中思想，用你的信念和你的信仰来激活蜡烛，涂抹的过程可以使得你和蜡烛进行心灵的交汇和沟通</p>

            <p>油还可以为工作中和生活中使用的印章进行加持，使用方法如下：
                1、针对方形的， 印章的外壳上每个角落放置一个点。开始在左上角，然后右下角，左下角和右上角。然后从上边开始连接角右角，向下和围绕密封移动手指，结束时，你再次到达右上角。
                2、针对圆形的，在印章的外壳上，北，南，东和西点涂上四个油点。然后连接点，从北方，逆时针方向，结束北方点，完成圆</p>

            <p>涂油的频率最好每周一次</p>

            <p>对于香炉、祭坛等任何不规则形状的材料，选择一个面画出三角形。根据想要达到的目的不同，使用方法也不一样。
                1.为了吸引财富或者爱人，想把能量都汇集过来，需要从三角形的底，往三角形的顶尖涂抹，涂抹方向朝向自己；
                2.为了消除厄运远离小人，需要从三角形的顶尖，往三角形的底涂抹，涂抹方向背向自己。</p>

            <p>当涂抹身体时，先将身体想成两个三角形，
                1.上面的三角形，顶尖是额头处，底部是胸部
                2.下面的三角形，顶尖是脚尖，底部是胃部
                然后根据想要达到的目的不同，使用方法不同
                对于上面的三角形：
                1.为了得到别人的喜爱或者得到财富，用手先在额头中间涂抹，然后是两边脸颊，颈部，接下来是肩部两边，最后涂抹胸部，最后是胸部中间；
                2.为了消除厄运远离小人，从胸部到肩部两边，颈部，再是两边脸颊，最后涂抹额头中间
                对于下面的三角形：
                1.为了消除身体的不健康，从肚脐向外摩擦到达胃部，然后在臀部上方和腿部外侧向下摩擦油，结束在脚的两个大脚趾；
                2.为了增强身体的抵抗性，更加健康，从脚趾开始，沿着腿部向上，再涂抹臀部，接着涂抹胃部，结束于肚脐</p>


            <p>在试图对身体施加有利的影响的情况下，颠倒三角形 - 开始于脚的运动，使运动沿着腿向上，在臀部上，然后进入身体，在胃部区域的中心附近结束。</p>

            <p>
                <img src="http://ac-QuiPuWpJ.clouddn.com/ed54190c4c73524ec68c.jpg" alt="">
            </p>
            
            <p>总体来说用于吸引的向内运动，用于排斥的向外运动，并且总是仅在一个方向上。
                适用于身体的各个部位，举个例子，比如手部
                1.想获得钱财，从指尖开始，从手的两边，涂抹到手腕处
                2.摆脱手部的疼痛，从手腕开始，到手的两边，最后涂抹到指尖</p>

            <p>其他的用法：</p>
            <ul>
                <li>1、可以泡澡的时候放到浴缸中，涂抹在娃娃或者画上</li>
                <li>2、可以洒少量的在焚烧的香上</li>
                <li>3、可以在沐浴露中添加少量的</li>
            </ul>

            <p>本书的列表
                重复的或者类似的就不再显示了，比如protection oil有了，super protection oil就不会列举出来了
                对于精油、精华液、香水没有特意做区分。但是还是有区别的：
                精油是纯的，未稀释的香料
                而精华液是加入醛稀释后的
                香水和精油的本质是一样的，但是香水中加入了更多的醛或者酒精进行稀释
                古龙水和香水差不多，但是效用较弱，并且不持久</p>

            <p>只有一些比如涂抹在蜡烛上，或者涂抹身上这样的使用说明，是制作者亲身体验后，添加的说明。很多没有使用说明的，需要用户自己去尝试，找到适合自己以及达到期望预期的使用方法</p>


        </div>
        
    </div>
    
</div>


<div class="recommend">
    <h3>为您搭配:</h3>
    <div class="am-slider am-slider-default slider-recommend">
        <ul class="am-slides">
            <li>
                <dl>
                    <dt>
                        <img src="http://ac-quipuwpj.clouddn.com/d5dc126e3a1a183e6ea0.jpg?imageMogr2/thumbnail/250" alt="">
                        <em>¥188</em>
                    </dt>
                    <dd>Indio魔法油 - love me Indio魔法油 - love me Indio魔法油 - love me</dd>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/ec08ea75bcb777f5eedb.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                    <dd>Indio魔法油 - love me Indio魔法油 - love me Indio魔法油 - love me</dd>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/fcdf9f321b2b90a2a32c.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                    <dd>Indio魔法油 - love me Indio魔法油 - love me Indio魔法油 - love me</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/d5dc126e3a1a183e6ea0.jpg?imageMogr2/thumbnail/250" alt=""> </dt>
                    <dd>Indio魔法油 - love me Indio魔法油 - love me Indio魔法油 - love me</dd>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/ec08ea75bcb777f5eedb.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                    <dd>Indio魔法油 - love me Indio魔法油 - love me Indio魔法油 - love me</dd>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/fcdf9f321b2b90a2a32c.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                    <dd>Indio魔法油 - love me Indio魔法油 - love me Indio魔法油 - love me</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/d5dc126e3a1a183e6ea0.jpg?imageMogr2/thumbnail/250" alt=""> </dt>
                    <dd></dd>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/ec08ea75bcb777f5eedb.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/fcdf9f321b2b90a2a32c.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                </dl>
            </li>
        </ul>
    </div>
</div>

<div class="recommend">
    <h3>其他推荐:</h3>
    <div class="am-slider am-slider-default slider-recommend">
        <ul class="am-slides">
            <li>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/d5dc126e3a1a183e6ea0.jpg?imageMogr2/thumbnail/250" alt=""> </dt>
                    <dd></dd>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/ec08ea75bcb777f5eedb.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/fcdf9f321b2b90a2a32c.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/d5dc126e3a1a183e6ea0.jpg?imageMogr2/thumbnail/250" alt=""> </dt>
                    <dd></dd>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/ec08ea75bcb777f5eedb.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/fcdf9f321b2b90a2a32c.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/d5dc126e3a1a183e6ea0.jpg?imageMogr2/thumbnail/250" alt=""> </dt>
                    <dd></dd>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/ec08ea75bcb777f5eedb.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/fcdf9f321b2b90a2a32c.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                </dl>
            </li>
        </ul>
    </div>
</div>

<div class="recommend">
    <h3>喜欢此产品的用户还喜欢:</h3>
    <div class="am-slider am-slider-default slider-recommend">
        <ul class="am-slides">
            <li>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/d5dc126e3a1a183e6ea0.jpg?imageMogr2/thumbnail/250" alt=""> </dt>
                    <dd></dd>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/ec08ea75bcb777f5eedb.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/fcdf9f321b2b90a2a32c.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/d5dc126e3a1a183e6ea0.jpg?imageMogr2/thumbnail/250" alt=""> </dt>
                    <dd></dd>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/ec08ea75bcb777f5eedb.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/fcdf9f321b2b90a2a32c.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/d5dc126e3a1a183e6ea0.jpg?imageMogr2/thumbnail/250" alt=""> </dt>
                    <dd></dd>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/ec08ea75bcb777f5eedb.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/fcdf9f321b2b90a2a32c.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                </dl>
            </li>
        </ul>
    </div>
</div>

<div class="buy-button">
    <button type="button" id="buy" class="am-btn am-btn-default" data-am-modal="{target:'#modal-buy'}">购买</button>
</div>

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>

<div class="am-modal am-modal-alert" tabindex="-1" id="modal-buy">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">购买接口调试中</div>
        <div class="am-modal-bd">
            亲爱的客户,我们目前购买产品的接口尚在调试中,您目前可以前往我们的淘宝店铺[心愿之家]搜索本产品进行购买,感谢您的理解和支持!
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn">确定</span>
        </div>
    </div>
</div>

<% include ../partials/footer %>
<% include ../partials/js %>
<script>
    $(function() {
        var product = require('product');
        product.detailFun();
    });
</script>
</body>
</html>