<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>

<body class="detail-page">

<header class="sub fixed">
    <div class="back">
        <a href="javascript:;" class="go-back">
            <i class="am-icon-angle-left"></i>
        </a>
    </div>
</header>

<div class="am-slider am-slider-default">
    <ul class="am-slides">
        <% for(var i in item.mainImage){%>
            <% if(item.mainImage[i].isMainImage) {%>
                <li><img src="<%= item.mainImage[i].url; %>" /></li>
            <%}%>
        <%}%>
    </ul>
</div>
 

<%= item.name %>
<%= item.description %>
<%= item.salePrice %>
<%= item.detail %>



<% include ../partials/footer %>
<% include ../partials/js %>
<script>
    $(function() {
        var product = require('product');
        product.detailFun();
    });
</script>
</body>
</html>


