<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>

<body class="detail-page">

<header class="sub fixed">
    <div class="back">
        <a href="javascript:;" class="go-back">
            <i class="am-icon-angle-left"></i>
        </a>
    </div>
</header>

<div class="am-slider am-slider-default slider-image-view">
    <ul class="am-slides lazy-container-view">
        <% var imageViewArray = []; 
           for(var i in item.mainImage){ 
             if(item.mainImage[i].isMainImage) { 
                imageViewArray.push(item.mainImage[i].url) 
             }
           }
        %>
        <% for(var j = 0;j < imageViewArray.length; j++) { %>
            <% if(j===0) { %>
              <li><img src="<%= imageViewArray[j]; %>" /></li>
            <% }else{ %>
              <li><img class="lazy-container" src="//ac-JoaBcRTt.clouddn.com/182b4902f18265f1f5ff.png" data-original="<%= imageViewArray[j]; %>" /></li>
            <% } %>
        <% } %>
    </ul>
</div>

<h1><%- item.name %></h1>

<div class="info-content">
    <div class="info">
        <strong class="price">¥ <%= item.price || 0 %>.00</strong>
        <div>
            <span>浏览量: <strong>2000</strong></span>
            <span>总销量: <strong>10</strong></span>
            <span>月均销量: <strong>2</strong></span>
        </div>
    </div>
    <div class="favorite-box">
        <input id="favorite" type="checkbox" data-product-id="<%=item.productId%>" <%if(wish){%>checked="checked"<%}%> />
        <label for="favorite" aria-label="like"><i class="am-icon-heart"></i></label>
        <span <%if(wish){%>class="active"<%}%> ><i class="favorite-text"><%if(wish){%>已收藏<%}else{%>收藏<%}%></i>(<i class="favorite-count"><%= wishCount %></i>)</span>
    </div>
</div>

<div class="am-tabs" data-am-tabs>
    <ul class="am-tabs-nav am-nav am-nav-tabs">
        <li class="am-active"><a href="#tab-product-detail">产品详情</a></li>
        <li><a href="#tab-product-param">产品属性</a></li>
    </ul>
    <div class="am-tabs-bd ">
        <div class="am-tab-panel am-active detail" id="tab-product-detail">

            <%if(item.detail){%>
            <h3>详情介绍:</h3>
            <div class="content"><%- item.detail %></div>
            <%}%>

            <%if(item.use){%>
            <h3>使用说明:</h3>
            <div class="content"><%- item.use %></div>
            <%}%>
            
            <%if(item.instruction){%>
                <h3>产品说明:</h3>
                <div class="content"><%- item.instruction%></div>
            <%}%>
            
            <%if(item.detailImage){%>
                <h3>产品图片:</h3>
                <div class="detail-image content">
                    <%- item.detailImage.replace(/src\=/gi,'class="lazy" src="//ac-JoaBcRTt.clouddn.com/182b4902f18265f1f5ff.png" data-original='); %>
                </div>
            <%}%>
            
        </div>
        
        <div class="am-tab-panel property" id="tab-product-param">
            <%if(item.property) { %>
                <%- item.property %>
            <%}else{%>
                <ul><li>-</li></ul>
            <%}%>
        </div>
        
    </div>
    
</div>


<div class="recommend">
    <h3>为您搭配:</h3>
    <div class="am-slider am-slider-default slider-recommend">
        <ul class="am-slides">
            <li>
                <dl>
                    <dt>
                        <img src="http://ac-quipuwpj.clouddn.com/d5dc126e3a1a183e6ea0.jpg?imageMogr2/thumbnail/250" alt="">
                        <em>¥188</em>
                    </dt>
                    <dd>Indio魔法油 - love me Indio魔法油 - love me Indio魔法油 - love me</dd>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/ec08ea75bcb777f5eedb.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                    <dd>Indio魔法油 - love me Indio魔法油 - love me Indio魔法油 - love me</dd>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/fcdf9f321b2b90a2a32c.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                    <dd>Indio魔法油 - love me Indio魔法油 - love me Indio魔法油 - love me</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/d5dc126e3a1a183e6ea0.jpg?imageMogr2/thumbnail/250" alt=""> </dt>
                    <dd>Indio魔法油 - love me Indio魔法油 - love me Indio魔法油 - love me</dd>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/ec08ea75bcb777f5eedb.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                    <dd>Indio魔法油 - love me Indio魔法油 - love me Indio魔法油 - love me</dd>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/fcdf9f321b2b90a2a32c.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                    <dd>Indio魔法油 - love me Indio魔法油 - love me Indio魔法油 - love me</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/d5dc126e3a1a183e6ea0.jpg?imageMogr2/thumbnail/250" alt=""> </dt>
                    <dd></dd>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/ec08ea75bcb777f5eedb.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/fcdf9f321b2b90a2a32c.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                </dl>
            </li>
        </ul>
    </div>
</div>

<div class="recommend">
    <h3>其他推荐:</h3>
    <div class="am-slider am-slider-default slider-recommend">
        <ul class="am-slides">
            <li>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/d5dc126e3a1a183e6ea0.jpg?imageMogr2/thumbnail/250" alt=""> </dt>
                    <dd></dd>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/ec08ea75bcb777f5eedb.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/fcdf9f321b2b90a2a32c.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/d5dc126e3a1a183e6ea0.jpg?imageMogr2/thumbnail/250" alt=""> </dt>
                    <dd></dd>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/ec08ea75bcb777f5eedb.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/fcdf9f321b2b90a2a32c.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/d5dc126e3a1a183e6ea0.jpg?imageMogr2/thumbnail/250" alt=""> </dt>
                    <dd></dd>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/ec08ea75bcb777f5eedb.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/fcdf9f321b2b90a2a32c.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                </dl>
            </li>
        </ul>
    </div>
</div>

<div class="recommend">
    <h3>喜欢此产品的用户还喜欢:</h3>
    <div class="am-slider am-slider-default slider-recommend">
        <ul class="am-slides">
            <li>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/d5dc126e3a1a183e6ea0.jpg?imageMogr2/thumbnail/250" alt=""> </dt>
                    <dd></dd>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/ec08ea75bcb777f5eedb.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/fcdf9f321b2b90a2a32c.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/d5dc126e3a1a183e6ea0.jpg?imageMogr2/thumbnail/250" alt=""> </dt>
                    <dd></dd>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/ec08ea75bcb777f5eedb.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/fcdf9f321b2b90a2a32c.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/d5dc126e3a1a183e6ea0.jpg?imageMogr2/thumbnail/250" alt=""> </dt>
                    <dd></dd>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/ec08ea75bcb777f5eedb.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                </dl>
                <dl>
                    <dt><img src="http://ac-quipuwpj.clouddn.com/fcdf9f321b2b90a2a32c.jpg?imageMogr2/thumbnail/250" alt=""></dt>
                </dl>
            </li>
        </ul>
    </div>
</div>

<div class="buy-button">
    <button type="button" id="buy" class="am-btn am-btn-default" data-am-modal="{target:'#modal-buy'}">购买</button>
</div>

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>

<div class="am-modal am-modal-alert" tabindex="-1" id="modal-buy">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">购买接口调试中</div>
        <div class="am-modal-bd">
            亲爱的客户,我们目前购买产品的接口尚在调试中,您目前可以前往我们的淘宝店铺[心愿之家]搜索本产品进行购买,感谢您的理解和支持!
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn">确定</span>
        </div>
    </div>
</div>

<% include ../partials/footer %>
<% include ../partials/js %>
<script>
    $(function() {
        var product = require('product');
        product.detailFun();
    });
</script>
</body>
</html>