<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>

<body class="detail-page">

<header class="sub fixed">
    <div class="back">
        <a href="javascript:;" class="go-back">
            <i class="am-icon-angle-left"></i>
        </a>
    </div>
</header>

<div class="am-slider am-slider-default">
    <ul class="am-slides">
        <% for(var i in item.mainImage){%>
            <% if(item.mainImage[i].isMainImage) {%>
                <li><a href="<%= item.mainImage[i].url; %>"><img src="<%= item.mainImage[i].url; %>" /></a></li>
            <%}%>
        <%}%>
    </ul>
</div>

<h1><%- item.name %></h1>

<div class="info-content">
    <div class="info">
        <strong class="price">¥ <%= item.price || 0 %>.00</strong>
        <div>
            <span>浏览量:2000</span>
            <span>总销量:10</span>
            <span>月均销量:2</span>
        </div>
    </div>
    <div class="favorite-box">
        <input id="favorite" type="checkbox" data-product-id="<%=item.productId%>" <%if(wish){%>checked="checked"<%}%> />
        <label for="favorite" aria-label="like"><i class="am-icon-heart"></i></label>
        <span <%if(wish){%>class="active"<%}%> ><i class="favorite-text"><%if(wish){%>已收藏<%}else{%>收藏<%}%></i>(<i class="favorite-count"><%= wishCount %></i>)</span>
    </div>
</div>

<div class="am-tabs" data-am-tabs>
    <ul class="am-tabs-nav am-nav am-nav-tabs">
        <li class="am-active"><a href="#tab-product-detail">产品详情</a></li>
        <li><a href="#tab-product-param">产品属性</a></li>
    </ul>
    <div class="am-tabs-bd am-tabs-bd-ofv">
        <div class="am-tab-panel am-active detail" id="tab-product-detail">
            
            <%if(item.instruction){%>
                <h3>产品说明:</h3>
                <div class="content"><%- item.instruction%></div>
            <%}%>
            
            <%if(item.detail){%>
                <h3>详情介绍:</h3>
                <div class="content"><%- item.detail %></div>
            <%}%>
            
            <%if(item.use){%>
                <h3>使用说明:</h3>
                <div class="content"><%- item.use %></div>
            <%}%>
            <%if(item.detailImage){%>
            <h3>产品图片:</h3>
            <div class="detail-image content">
                <%- item.detailImage%>
            </div>
            <%}%>
            
        </div>
        <div class="am-tab-panel" id="tab-product-param">
            sdf
        </div>
    </div>
    
</div>


<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>


<% include ../partials/footer %>
<% include ../partials/js %>
<script>
    $(function() {
        var product = require('product');
        product.detailFun();
    });
</script>
</body>
</html>