<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>

<body class="detail-page">

<header class="sub fixed">
    <div class="back">
        <a href="javascript:;" class="go-back">
            <i class="am-icon-angle-left"></i>
        </a>
    </div>
</header>

<div class="am-slider am-slider-default">
    <ul class="am-slides">
        <% for(var i in item.mainImage){%>
            <% if(item.mainImage[i].isMainImage) {%>
                <li><a href="<%= item.mainImage[i].url; %>"><img src="<%= item.mainImage[i].url; %>" /></a></li>
            <%}%>
        <%}%>
    </ul>
</div>

<h1><%= item.name %></h1>

<section>
    <div class="info">
        <strong class="price">¥ <%= item.price || 0 %>.00</strong>
        <div>
            <span>浏览量:2000</span>
            <span class="split"></span>
            <span>总销量:10</span>
        </div>
    </div>
    <div class="favorite-box">
        <input id="favorite" type="checkbox"/>
        <label for="favorite" aria-label="like"><i class="am-icon-heart"></i></label>
    </div>
</section>

<div class="detail">
    <%= item.detail %>
</div>

<% include ../partials/footer %>
<% include ../partials/js %>
<script>
    $(function() {
        var product = require('product');
        product.detailFun();
    });
</script>
</body>
</html>