<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>

<body class="detail-page">

<header class="sub fixed">
    <div class="back">
        <a href="javascript:;" class="go-back">
            <i class="am-icon-angle-left"></i>
        </a>
    </div>
</header>

<div class="am-slider am-slider-default">
    <ul class="am-slides">
        <% for(var i in item.mainImage){%>
            <% if(item.mainImage[i].isMainImage) {%>
                <li><a href="<%= item.mainImage[i].url; %>"><img src="<%= item.mainImage[i].url; %>" /></a></li>
            <%}%>
        <%}%>
    </ul>
</div>

<h1><%= item.name %></h1>

<section>
    <div class="info">
        <strong class="price">¥ <%= item.price || 0 %>.00</strong>
        <div>
            <span>浏览量:2000</span>
            <span>总销量:10</span>
            <span>月均销量:2</span>
        </div>
    </div>
    <div class="favorite-box">
        <input id="favorite" type="checkbox" checked="checked"/>
        <label for="favorite" aria-label="like"><i class="am-icon-heart"></i></label>
        <span class="active">已收藏(9939)</span>
    </div>
</section>


<div class="am-tabs" data-am-tabs>
    <ul class="am-tabs-nav am-nav am-nav-tabs">
        <li class="am-active"><a href="#tab-product-detail">产品详情</a></li>
        <li><a href="#tab-product-param">产品属性</a></li>
    </ul>
    <div class="am-tabs-bd am-tabs-bd-ofv">
        <div class="am-tab-panel am-active detail" id="tab-product-detail">
            <h3>详情介绍</h3>
            <%= item.detail %>
        </div>
        <div class="am-tab-panel" id="tab-product-param">
            走在忠孝东路<br>徘徊在茫然中<br>在我的人生旅途<br>选择了多少错误<br>我在睡梦中惊醒<br>感叹悔言无尽<br>恨我不能说服自己<br>接受一切教训<br>让生命去等候<br>等候下一个漂流<br>让生命去等候<br>等候下一个伤口
        </div>
    </div>
</div>

<% include ../partials/footer %>
<% include ../partials/js %>
<script>
    $(function() {
        var product = require('product');
        product.detailFun();
    });
</script>
</body>
</html>