<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>

<body>

<% include ../partials/header-sub %>

<form>
    <input type="hidden" id="ajax-search" value="<%= path %>" />
    <input type="hidden" id="count" value="<%= count %>" />
</form>

<div class="main-menu am-g am-g-fixed">
    <div class="am-u-sm-4">
        <div class="am-dropdown" data-am-dropdown>
            <ul class="am-dropdown-content">
                <% for(var i=0; i<category1.length; i++) { %>
                <% if (cat1 == category1[i].get('category1Id')) { category1Name = category1[i].get('name'); } %>
                <li data-id="<%= category1[i].get('category1Id')%>" class="am-dropdown-header"><a href="/product?cat1=<%=category1[i].get('category1Id')%>&method=<%=method%>&stock=<%=stock%>"><%= category1[i].get('name')%></a></li>
                <% } %>
            </ul>
            <button class="am-btn am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle><span><%= category1Name%></span> <span class="am-icon-caret-down"></span></button>
        </div>
    </div>
    <div class="am-u-sm-4">
        <div class="am-dropdown" data-am-dropdown>
            <ul class="am-dropdown-content">
                <% if(category2) { %>
                <% for(var i=0; i<category2.length; i++) { %>
                <% if (cat2 == category2[i].get('category2Id')) { category2Name = category2[i].get('name'); } %>
                <li data-id="<%= category2[i].get('category1Id')%>" class="am-dropdown-header"><a href="/product?cat1=<%= cat1 %>&cat2=<%=category2[i].get('category2Id')%>&method=<%=method%>&stock=<%=stock%>"><%= category2[i].get('name')%></a></li>
                <% } %>
                <% } else { %>
                <li data-id="" class="am-dropdown-header"><a href="javascript:;">请选择一级分类</a></li>
                <% } %>
            </ul>
            <button class="am-btn am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle><span><%= category2Name%></span> <span class="am-icon-caret-down"></span></button>
        </div>
    </div>
    <div class="am-u-sm-4">
        <div class="am-dropdown sort" data-am-dropdown>
            <button class="am-btn am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle><span><%= sortTitle%></span> <span class="am-icon-caret-down"></span></button>
            <ul class="am-dropdown-content">
                <li><a href="/product?order=pageViews<%=path%>">热门 <i class="am-icon-star"></i></a></li>
                <li><a href="/product?order=sales<%=path%>">销量 <i class="am-icon-line-chart"></i></a></li>
                <li><a href="/product?price=asc<%=path%>">价格低-高 <i class="am-icon-sort-amount-desc"></i></a></li>
                <li><a href="/product?price=desc<%=path%>">价格高-低 <i class="am-icon-sort-amount-asc"></i></a></li>
                <li><a href="/product?keywords=<%= keywords%>&cat1=<%=cat1%>&cat2=<%=cat2%>&stock=1&method=<%=method%>">现货 <i class="am-icon-plane"></i></a></li>
                <li><a href="/product?order=onsaleDate<%=path%>">上架时间 <i class="am-icon-calendar-check-o"></i></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="am-alert">共有<span><%= count %></span>条记录</div>

<% if (count > 0) { %>
<ul class="main-list">
    <% for(var i=0; i< items.length;i++) {%>
    <li data-product-id="<%=items[i].get('productId') %>">
        <div class="img">
            <%if (items[i].get('isHot')){ %><em class="hot"></em><%}%>
            <%if (items[i].get('isNewSale')){ %><em class="new"></em><%}%>
            <a href="/product/detail/<%=items[i].get('productId') %>"><img src="//ac-JoaBcRTt.clouddn.com/3a994354f637e827ae7e.png" class="lazy" width="100" height="100" data-original="<% for(var n in items[i].get('mainImage')) { %><% if(items[i].attributes.mainImage[n].isMainImage) { %><%= items[i].attributes.mainImage[n].url %>?imageMogr2/thumbnail/200<%break;}}%>" /></a>
        </div>
        <div class="detail">
            <h3>
                <a href="/product/detail/<%=items[i].get('productId') %>" <%if(items[i].get('isShortStock')) {%>class="out-stock"<%}%> >
                    <% if (items[i].get('stock') > 0) { %>[现货]<% } %>
                    <% if (items[i].get('isShortStock')) {%>[缺货]<%}%>
                    <%= items[i].get('name') %>
                </a>
            </h3>
            <p>
                <span class="price">¥<strong> <%= (items[i].get('price') ? items[i].get('price') + '.00' : '-') %></strong></span>
                <span><%=items[i].get('pageViews') %>次浏览</span>
                <span>已售<%=items[i].get('sales')%>件</span>
                <a class="fav" href="javascript:;">+收藏</a>
            </p>
            <p>
                <% if (items[i].get('isRefund')) { %><span class="active"><i class="am-icon-history"></i>7天退款</span><% } %>
                <% if (items[i].get('stock') > 0) { %><span class="active"><i class="am-icon-check"></i>现货</span><% } %>
                <% if (items[i].get('isHandmade')) { %><span class="active"><i class="am-icon-modx"></i>纯手工</span><% } %>
                <% if (items[i].get('isOnly')) { %><span class="active"><i class="am-icon-gavel"></i>只此一件 </span><% } %>
            </p>
        </div>
    </li>

    <% } %>
</ul>
<div class="navigation">
    <a href="/<%=pageType%>/ajax?page=1"></a>
</div>
<% } else {%>
<ul class="main-list">
    <li><span class="color-gray f-13">没有搜索到相关产品,请重新进行查询哦.</span> </li>
</ul>
<%}%>

<% include ../partials/footer %>
<% include ../partials/js %>

<script>
    $(function() {
        var productList = require('product-list');
        productList.init();
    });
</script>

</body>
</html>