<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <% include ../partials/css %>
</head>
<body>

<% include ../partials/header %>

<div class="am-cf admin-main">

    <!-- sidebar start -->
    <% include ../partials/sidebar %>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content admin-product-brand-page">

        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong><a href="/admin/course">课程列表</a></strong> / <a href="/admin/course/add">添加课程</a></div>
        </div>

        <div class="am-g">
            <div class="am-u-sm-12">

                <form id="form-add-product" class="am-form" method="post" >

                    <!--  course template start -->
                    <div class="am-form-group">
                        <label for="course-template" >课程模板<i>*</i></label>
                        <select name="courseTemplateId" id="course-template">
                            <option data-info="" value="">选择模板</option>
                            <% for (var i = 0; i < courseTemplate.length; i++) { %>
                            <option <% if (courseTemplate[i].get('courseTemplateId') == course.get('courseTemplateId')) { %>selected<% } %> data-info="{'defaultName': '<%= courseTemplate[i].get('defaultName')%>', 'defaultContent': '<%= courseTemplate[i].get('defaultContent') %>'}" value="<%= courseTemplate[i].get('courseTemplateId')%>"><%= courseTemplate[i].get('name')%></option>
                            <% } %>
                        </select>
                    </div>
                    <!--  course template end -->

                    <hr/>

                    <!-- name start -->
                    <div class="am-form-group">
                        <label for="name">课程名称:</label>
                        <input id="name" name="name" type="text" value="<%= course.get('name') %>" />
                    </div>
                    <!-- name end -->

                    <hr/>

                    <!-- content start -->
                    <div class="am-form-group">
                        <label for="content">课程描述:</label>
                        <textarea id="content" name="content"><%= course.get('content') %></textarea>
                    </div>
                    <!-- content end -->

                    <hr/>

                    <!-- count start -->
                    <div class="am-form-group">
                        <label for="count">课程人数:</label>
                        <input id="count" name="count" type="text" value="<%= course.get('count') %>"/>
                    </div>
                    <!-- count end -->

                    <hr/>

                    <!-- start date start -->
                    <div class="am-form-group">
                        <label for="start-date">课程开始时间:</label>
                        <input id="start-date" name="startDate" type="text" <%= course.get('startDate') %> />
                    </div>
                    <!-- start date end -->

                    <!-- price start -->
                    <div class="am-form-group">
                        <label for="price">课程价格:</label>
                        <input id="price" name="price" type="text" value="<%= course.get('price') %>" />
                    </div>
                    <!-- price end -->

                    <hr/>

                    <div class="am-form-group">
                        <button id="submit" type="submit" class="am-btn am-btn-primary">保存</button>
                        <button type="button" class="am-btn am-btn-primary" onclick="history.back(-1);">返回</button>
                    </div>

                </form>

            </div>
        </div>

    </div>
    <!-- content end -->

</div>


<% include ../partials/footer %>
<% include ../partials/js %>

<script type="text/javascript">
    $(function () {
        var course = require('course');
        course.indexFun();
    });
</script>
</body>
</html>