<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>

<body class="index-page">

<section>
    <!--
    <div class="slogan"></div>
    -->
    <!--
    <div class="logo">
        <a href="/"></a>
    </div>
    -->
    <!--
    <div class="search-go">
        <a class="search-go-panel">
            <span>搜索产品/文章/分类</span>
            <i class="am-icon-search"></i>
        </a>
    </div>
    -->
    <!--
    <div class="menu">
        <a href="/user/userinfo"><i class="am-icon-ellipsis-h"></i></a>
    </div>
    -->
</section>

<!--
<ul class="nav cf">
    <li><a href="/" class="index-nav-ico-1"><img src="/<%= asset %>/images/default/icons/index-nav-1.png" alt=""><span>产品专区</span></a></li>
    <li><a href="javascript:;" class="index-nav-ico-2"><img src="/<%= asset %>/images/default/icons/index-nav-2.png" alt=""><span class="color-gray">精品专区</span></a></li>
    <li><a href="javascript:;" class="index-nav-ico-3"><img src="/<%= asset %>/images/default/icons/index-nav-3.png" alt=""><span class="color-gray">自营专区</span></a></li>
    <li><a href="/" class="index-nav-ico-8"><img src="/<%= asset %>/images/default/icons/index-nav-8.png" alt=""><span>所有分类</span></a></li>
</ul>
-->

<div class="am-tabs" data-am-tabs>
    <ul class="am-tabs-nav am-nav am-nav-tabs">
        <li class="am-active"><a href="#tab-product-new">魔法油/喷雾/香粉</a></li>
        <li><a href="#tab-product-hot">魔法仪式蜡烛</a></li>
        <li><a href="#tab-product-other">功能香薰</a></li>
        <li><a href="#tab-product-other1">摆件/仪式用品</a></li>
        <li><a href="#tab-product-other2">塔罗/神谕卡/灵摆</a></li>
        <li><a href="#tab-product-other3">影子之书/羊皮纸</a></li>
    </ul>
    <div class="am-tabs-bd ">
        <div class="am-tab-panel am-active detail" id="tab-product-new">

            <ul class="main-list">

                <li>
                    <div class="img">
                        <a href="/product?order=sales&cat1=186&method=22&stock=1&limit=500"><img src="//image.wish698.cn/17c7ce0904688d5fba08.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?order=sales&cat1=186&method=22&stock=1&limit=500">美国Indio/7 Sister魔法油</a></h3>
                        <p><span>美国进口/14ml</span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>

                <li>
                    <div class="img">
                        <a href="/product?order=sales&cat1=265&cat2=893&method=40&stock=1&limit=500"><img src="//image.wish698.cn/bf18ba4fdc840bf977a9.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?order=sales&cat1=265&cat2=893&method=40&stock=1&limit=500">美国LuckyMojo草药魔法油</a></h3>
                        <p><span>美国进口/14ml</span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>

                <li>
                    <div class="img">
                        <a href="/product?order=sales&cat1=265&cat2=892&method=40&stock=1&limit=500"><img src="//image.wish698.cn/05b249c9abef4efe9471.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?order=sales&cat1=265&cat2=892&method=40&stock=1&limit=500">美国Mistic魔法滚珠萫水</a></h3>
                        <p><span>美国进口/10ml</span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>

                <li>
                    <div class="img">
                        <a href="/product?order=sales&cat1=273&cat2=905&method=30&stock=1&limit=500"><img src="//image.wish698.cn/7f1c5f7bcbd21a809b13.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?order=sales&cat1=273&cat2=905&method=30&stock=1&limit=500">美国Arua水晶魔法喷雾</a></h3>
                        <p><span>美国进口/100ml</span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>

                <li>
                    <div class="img">
                        <a href="/product?order=sales&cat1=188&cat2=&method=22&stock=1&limit=500"><img src="//image.wish698.cn/53118a78666a23a444a5.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?order=sales&cat1=188&cat2=&method=22&stock=1&limit=500">美国Anna Riva魔法油</a></h3>
                        <p><span>美国进口/7ml</span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>


                <li>
                    <div class="img">
                        <a href="/product?order=sales&cat1=266&cat2=915&method=40&stock=1&limit=500"><img src="//image.wish698.cn/4f424f753814a6744d45.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?order=sales&cat1=266&cat2=915&method=40&stock=1&limit=500">魔法混合草本草药</a></h3>
                        <p><span></span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>

                <li>
                    <div class="img">
                        <a href="/product?order=sales&cat1=267&cat2=895&method=40&stock=1&limit=500"><img src="//image.wish698.cn/f7e7f0caf6ff1dd0f354.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?order=sales&cat1=267&cat2=895&method=40&stock=1&limit=500">Indio魔法香粉</a></h3>
                        <p><span>美国进口</span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>

                <li>
                    <div class="img">
                        <a href="/product?order=sales&cat1=267&cat2=917&method=40&stock=1&limit=500"><img src="//image.wish698.cn/e58a82873f283719941e.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?order=sales&cat1=267&cat2=917&method=40&stock=1&limit=500">Indio魔法皂</a></h3>
                        <p><span>美国进口</span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>

                <li>
                    <div class="img">
                        <a href="/product?order=sales&cat1=267&cat2=896&method=40&stock=1&limit=500"><img src="//image.wish698.cn/78e6f227d8042c56cc62.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?order=sales&cat1=267&cat2=896&method=40&stock=1&limit=500">LuckyMojo魔法香粉</a></h3>
                        <p><span>美国进口</span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>

                <li>
                    <div class="img">
                        <a href="/product?order=sales&cat1=267&cat2=918&method=40&stock=1&limit=500"><img src="//image.wish698.cn/0ad0bf599137a446e207.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?order=sales&cat1=267&cat2=918&method=40&stock=1&limit=500">LuckyMojo魔法可燃香粉</a></h3>
                        <p><span>美国进口</span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>

                <li>
                    <div class="img">
                        <a href="/product?method=40&cat1=267&cat2=919&stock=1&limit=500"><img src="//image.wish698.cn/fe16251c06f62c0a60f5.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?method=40&cat1=267&cat2=919&stock=1&limit=500">LuckyMojo草本浴盐</a></h3>
                        <p><span>美国进口</span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>

                <li>
                    <div class="img">
                        <a href="/product?price=asc&cat1=266&cat2=888&method=40&stock=1&limit=500"><img src="//image.wish698.cn/282c73baa0f960d4bf61.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?price=asc&cat1=266&cat2=888&method=40&stock=1&limit=500">魔法仪式羊皮纸/羽毛笔/墨水</a></h3>
                        <p><span></span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>

            </ul>
            
        </div>

        <div class="am-tab-panel param" id="tab-product-hot">
            <ul class="main-list">

                <li>
                    <div class="img">
                        <a href="/product?order=sales&cat1=264&cat2=884&method=40&stock=1&limit=500"><img src="//image.wish698.cn/0215c15d848857a21812.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?order=sales&cat1=264&cat2=884&method=40&stock=1&limit=500">LuckyMojo七天魔法仪式蜡烛</a></h3>
                        <p><span>美国进口</span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>

                <li>
                    <div class="img">
                        <a href="/product?order=sales&cat1=264&cat2=916&method=40&stock=1&limit=500"><img src="//image.wish698.cn/993f26dc04b174bf655c.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?order=sales&cat1=264&cat2=916&method=40&stock=1&limit=500">Palm魔法星体蜡烛</a></h3>
                        <p><span>美国进口</span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>

                <li>
                    <div class="img">
                        <a href="/product?order=sales&cat1=264&cat2=881&method=40&stock=1&limit=500"><img src="//image.wish698.cn/da7ce7ca10e7ad0747a8.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?order=sales&cat1=264&cat2=881&method=40&stock=1&limit=500">杆蜡魔法仪式蜡烛</a></h3>
                        <p><span>美国进口</span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>

                <li>
                    <div class="img">
                        <a href="/product?price=desc&cat1=264&cat2=885&method=40&stock=1&limit=500"><img src="//image.wish698.cn/a4b2775e2bb3d9c162f3.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?price=desc&cat1=264&cat2=885&method=40&stock=1&limit=500">茶蜡魔法仪式蜡烛</a></h3>
                        <p><span>美国进口</span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>

                <li>
                    <div class="img">
                        <a href="/product?price=desc&cat1=264&cat2=882&method=40&stock=1&limit=500"><img src="//image.wish698.cn/f9dcaf81f42bdcc22a88.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?price=desc&cat1=264&cat2=882&method=40&stock=1&limit=500">人形魔法仪式蜡烛</a></h3>
                        <p><span></span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>

                <li>
                    <div class="img">
                        <a href="/product?price=asc&cat1=264&cat2=883&method=40&stock=1&limit=500"><img src="//image.wish698.cn/f0fdbe8db0e20188091a.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?price=asc&cat1=264&cat2=883&method=40&stock=1&limit=500">魔法仪式蜡烛</a></h3>
                        <p><span></span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>

                <li>
                    <div class="img">
                        <a href="/product?price=desc&cat1=264&cat2=886&method=40&stock=1&limit=500"><img src="//image.wish698.cn/0d813eec951f9ea15834.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?price=desc&cat1=264&cat2=886&method=40&stock=1&limit=500">卢恩符文蜡烛</a></h3>
                        <p><span></span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>

                <li>
                    <div class="img">
                        <a href="/product?order=sales&cat1=264&cat2=903&method=40&stock=1&limit=500"><img src="//image.wish698.cn/eb7a9103621237a10829.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?order=sales&cat1=264&cat2=903&method=40&stock=1&limit=500">蜂蜡片魔法蜡烛</a></h3>
                        <p><span></span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>

            </ul>
        </div>

        <div class="am-tab-panel param" id="tab-product-other">
            <ul class="main-list">

                <li>
                    <div class="img">
                        <a href="/product?order=sales&cat1=210&cat2=641&method=23&stock=1&limit=500"><img src="//image.wish698.cn/2e27949b494c6f8abd76.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?order=sales&cat1=210&cat2=641&method=23&stock=1&limit=500">印度赛巴巴功能线香</a></h3>
                        <p><span>印度进口</span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>

                <li>
                    <div class="img">
                        <a href="/product?order=sales&cat1=228&cat2=722&method=23&stock=1&limit=500"><img src="//image.wish698.cn/512c14a23ff1653bb2f1.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?order=sales&cat1=228&cat2=722&method=23&stock=1&limit=500">印度赛巴巴功能塔香</a></h3>
                        <p><span>印度进口</span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>

                <li>
                    <div class="img">
                        <a href="/product?order=sales&cat1=210&cat2=897&method=23&stock=1&limit=500"><img src="//image.wish698.cn/f63b337f1e50f48b1e10.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?order=sales&cat1=210&cat2=897&method=23&stock=1&limit=500">印度Hem功能线香</a></h3>
                        <p><span>印度进口</span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>

                <li>
                    <div class="img">
                        <a href="/product?order=sales&cat1=228&cat2=724&method=23&stock=1&limit=500"><img src="//image.wish698.cn/d615e28e67e99a72a592.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?order=sales&cat1=228&cat2=724&method=23&stock=1&limit=500">印度Hem功能塔香</a></h3>
                        <p><span>印度进口</span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>


                <li>
                    <div class="img">
                        <a href="/product?order=sales&cat1=210&cat2=826&method=23&stock=1&limit=500"><img src="//image.wish698.cn/613b233decf61f655c97.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?order=sales&cat1=210&cat2=826&method=23&stock=1&limit=500">印度Baija功能线香</a></h3>
                        <p><span>印度进口</span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>


                <li>
                    <div class="img">
                        <a href="/product?order=sales&cat1=228&cat2=819&method=23&stock=1&limit=500"><img src="//image.wish698.cn/110a3d8071b00a8ba901.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?order=sales&cat1=228&cat2=819&method=23&stock=1&limit=500">印度Baija功能倒流香</a></h3>
                        <p><span>印度进口</span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>

                <li>
                    <div class="img">
                        <a href="/product?order=sales&cat1=210&cat2=644&method=23&stock=1&limit=500"><img src="//image.wish698.cn/6925640b1ba7a748988b.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?order=sales&cat1=210&cat2=644&method=23&stock=1&limit=500">印度Raj功能线香</a></h3>
                        <p><span>印度进口</span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>

                <li>
                    <div class="img">
                        <a href="/product?order=sales&cat1=228&cat2=723&method=23&stock=1&limit=500"><img src="//image.wish698.cn/97c8f6631a4b12039686.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?order=sales&cat1=228&cat2=723&method=23&stock=1&limit=500">尼泊尔功能塔香</a></h3>
                        <p><span>尼泊尔进口</span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>

                <li>
                    <div class="img">
                        <a href="/product?method=23&cat1=228&cat2=780&stock=1&limit=500"><img src="//image.wish698.cn/5956e9559919deef4ed0.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?method=23&cat1=228&cat2=780&stock=1&limit=500">AROMATIKA可燃功能树脂香</a></h3>
                        <p><span>印度进口</span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>

                <li>
                    <div class="img">
                        <a href="/product?order=sales&cat1=211&cat2=824&method=23&stock=1&limit=500"><img src="//image.wish698.cn/0ad38fe98f1833e79ea0.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?order=sales&cat1=211&cat2=824&method=23&stock=1&limit=500">Hem功能香薰精油</a></h3>
                        <p><span>印度进口</span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>

            </ul>
        </div>


        <div class="am-tab-panel param" id="tab-product-other1">
            <ul class="main-list">

                3
            </ul>
        </div>

        <div class="am-tab-panel param" id="tab-product-other2">
            <ul class="main-list">

                <li>
                    <div class="img">
                        <a href="/product?order=sales&cat1=209&cat2=540&method=27&stock=1&limit=500"><img src="//image.wish698.cn/600d078f73dfc5e60cb4.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?order=sales&cat1=209&cat2=540&method=27&stock=1&limit=500">神谕占卜卡</a></h3>
                        <p><span></span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>

                <li>
                    <div class="img">
                        <a href="/product?order=sales&cat1=209&cat2=730&method=27&stock=1&limit=500"><img src="//image.wish698.cn/337131070929331b5a1f.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?order=sales&cat1=209&cat2=730&method=27&stock=1&limit=500">塔罗占卜卡</a></h3>
                        <p><span></span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>

                <li>
                    <div class="img">
                        <a href="/product?order=sales&cat1=208&cat2=537&method=27&stock=1&limit=500"><img src="//image.wish698.cn/910346f5a32bf1ffe275.jpg?imageMogr2/thumbnail/200" width="100" height="100"></a>
                    </div>
                    <div class="detail">
                        <h3><a href="/product?order=sales&cat1=208&cat2=537&method=27&stock=1&limit=500">灵摆图表</a></h3>
                        <p><span></span></p>
                        <p><span class="active"><i class="am-icon-check"></i>现货</span> <span class="active"><i class="am-icon-history"></i>7天退款</span></p>
                    </div>
                </li>


            </ul>
        </div>

        <div class="am-tab-panel param" id="tab-product-other3">
            <ul class="main-list">

                3
            </ul>
        </div>

    </div>

</div>

<% include ../partials/footer %>
<% include ../partials/js %>
<script>
    $(function() {
        var index = require('index');
        index.indexFun();
    });
</script>
</body>
</html>