<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>

<body class="index-page">

<% include ../partials/header %>

<ul class="nav cf">
    <li><a href="/" class="index-nav-ico-1"><img src="/<%= asset %>/images/default/icons/index-nav-1.png" alt=""><span>产品专区</span></a></li>
    <li><a href="javascript:;" class="index-nav-ico-2"><img src="/<%= asset %>/images/default/icons/index-nav-2.png" alt=""><span class="color-gray">别具一阁</span></a></li>
    <li><a href="javascript:;" class="index-nav-ico-3"><img src="/<%= asset %>/images/default/icons/index-nav-3.png" alt=""><span class="color-gray">神秘宝殿</span></a></li>
    <li><a href="/" class="index-nav-ico-4"><img src="/<%= asset %>/images/default/icons/index-nav-4.png" alt=""><span>课程/资源馆</span></a></li>
    <li><a href="/" class="index-nav-ico-5"><img src="/<%= asset %>/images/default/icons/index-nav-5.png" alt=""><span>金钱/招财</span></a></li>
    <li><a href="/" class="index-nav-ico-6"><img src="/<%= asset %>/images/default/icons/index-nav-6.png" alt=""><span>爱情/桃花</span></a></li>
    <li><a href="/" class="index-nav-ico-7"><img src="/<%= asset %>/images/default/icons/index-nav-7.png" alt=""><span>开运/运势</span></a></li>
    <li><a href="/" class="index-nav-ico-8"><img src="/<%= asset %>/images/default/icons/index-nav-8.png" alt=""><span>事业/成功</span></a></li>
</ul>

<% include ../partials/footer %>
<% include ../partials/js %>
<script>
    $(function() {
        var index = require('index');
        index.indexFun();
    });
</script>

</body>
</html>