<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>

<body class="index-page">

<section>
    <div class="slogan"></div>
    <div class="logo">
        <a href="/"></a>
    </div>
    <div class="search-go">
        <a class="search-go-panel">
            <span>搜索产品/文章/分类</span>
            <i class="am-icon-search"></i>
        </a>
    </div>
    <div class="menu">
        <a href="/user/userinfo"><i class="am-icon-ellipsis-h"></i></a>
    </div>
</section>

<!--
<ul class="nav cf">
    <li><a href="/" class="index-nav-ico-1"><img src="/<%= asset %>/images/default/icons/index-nav-1.png" alt=""><span>产品专区</span></a></li>
    <li><a href="javascript:;" class="index-nav-ico-2"><img src="/<%= asset %>/images/default/icons/index-nav-2.png" alt=""><span class="color-gray">精品专区</span></a></li>
    <li><a href="javascript:;" class="index-nav-ico-3"><img src="/<%= asset %>/images/default/icons/index-nav-3.png" alt=""><span class="color-gray">自营专区</span></a></li>
    <li><a href="/" class="index-nav-ico-8"><img src="/<%= asset %>/images/default/icons/index-nav-8.png" alt=""><span>所有分类</span></a></li>
</ul>
-->

<div class="am-tabs" data-am-tabs>
    <ul class="am-tabs-nav am-nav am-nav-tabs">
        <li class="am-active"><a href="#tab-product-new">新品上架</a></li>
        <li><a href="#tab-product-hot">热门产品</a></li>
    </ul>
    <div class="am-tabs-bd ">
        <div class="am-tab-panel am-active detail" id="tab-product-new">

            <ul class="main-list">
                <% for(var i =0; i < newReleases.length; i++) { %>
                <li data-product-id="<%=newReleases[i].get('productId') %>">
                    <div class="img">
                        <%if (newReleases[i].get('isHot')){ %><em class="hot"></em><%}%>
                        <%if (newReleases[i].get('isNewSale')){ %><em class="new"></em><%}%>
                        <a href="/product/detail/<%=newReleases[i].get('productId') %>"><img src="//ac-JoaBcRTt.clouddn.com/3a994354f637e827ae7e.png" class="lazy" width="100" height="100" data-original="<% for(var n in newReleases[i].get('mainImage')) { %><% if(newReleases[i].attributes.mainImage[n].isMainImage) { %><%= newReleases[i].attributes.mainImage[n].url %>?imageMogr2/thumbnail/200<%break;}}%>" /></a>
                    </div>
                    <div class="detail">
                        <h3>
                            <a href="/product/detail/<%=newReleases[i].get('productId') %>" <%if(newReleases[i].get('isShortStock')) {%>class="out-stock"<%}%> >
                                <% if (newReleases[i].get('stock') > 0) { %>[现货]<% } %>
                                <% if (newReleases[i].get('isShortStock')) {%>[缺货]<%}%>
                                <%= newReleases[i].get('name') %>
                            </a>
                        </h3>
                        <p>
                            <span class="price">¥<strong> <%= (newReleases[i].get('price') ? newReleases[i].get('price') + '.00' : '-') %></strong></span>
                            <span><%=newReleases[i].get('pageViews') %>次浏览</span>
                            <a class="fav <%if(newReleases[i].get('isWish')){%>add<%}%>" href="javascript:;"><%if(newReleases[i].get('isWish')){%>已收藏<%}else{%>收藏<%}%></a>
                        </p>
                        <p>
                            <% if (newReleases[i].get('isRefund')) { %><span class="active"><i class="am-icon-history"></i>7天退款</span><% } %>
                            <% if (newReleases[i].get('stock') > 0) { %><span class="active"><i class="am-icon-check"></i>现货</span><% } %>
                            <% if (newReleases[i].get('isHandmade')) { %><span class="active"><i class="am-icon-modx"></i>纯手工</span><% } %>
                            <% if (newReleases[i].get('isOnly')) { %><span class="active"><i class="am-icon-gavel"></i>只此一件 </span><% } %>
                        </p>
                    </div>
                </li>
                <% } %>

            </ul>
            
        </div>
        <div class="am-tab-panel param" id="tab-product-hot">

            <ul class="main-list">


            </ul>
            
        </div>
    </div>

</div>

<% include ../partials/footer %>
<% include ../partials/js %>
<script>
    $(function() {
        var index = require('index');
        index.indexFun();
    });
</script>
</body>
</html>