<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>

<body class="index-page">

<section>
    <div class="slogan"></div>
    <div class="logo">
        <a href="/"></a>
    </div>
    <div class="search-go">
        <a class="search-go-panel">
            <span>搜索产品/文章/分类</span>
            <i class="am-icon-search"></i>
        </a>
    </div>
    <div class="menu">
        <a href="/user/userinfo"><i class="am-icon-ellipsis-h"></i></a>
    </div>
</section>

<ul class="nav cf">
    <li><a href="/" class="index-nav-ico-1"><img src="/<%= asset %>/images/default/icons/index-nav-1.png" alt=""><span>产品专区</span></a></li>
    <li><a href="javascript:;" class="index-nav-ico-2"><img src="/<%= asset %>/images/default/icons/index-nav-2.png" alt=""><span class="color-gray">精品专区</span></a></li>
    <li><a href="javascript:;" class="index-nav-ico-3"><img src="/<%= asset %>/images/default/icons/index-nav-3.png" alt=""><span class="color-gray">自营专区</span></a></li>
    <li><a href="/" class="index-nav-ico-8"><img src="/<%= asset %>/images/default/icons/index-nav-8.png" alt=""><span>所有分类</span></a></li>
</ul>
最新上架
<ul class="main-list">
    <% for(var i =0; i < newReleases.length; i++) { %>

    <li>
        <div class="img">
            <span class="new"></span>
            <a href="/product/detail/<%=newReleases[i].get('productId')%>"><img src="//ac-JoaBcRTt.clouddn.com/3a994354f637e827ae7e.png" class="lazy" width="100" height="100" data-original="<% for(var n in newReleases[i].get('mainImage')) { %><% if(newReleases[i].attributes.mainImage[n].isMainImage) { %><%= newReleases[i].attributes.mainImage[n].url %>?imageMogr2/thumbnail/200<%break;}}%>" /></a>
        </div>
        <div class="detail">
            <h3><a href="/product/detail/<%=newReleases[i].get('productId')%>"><%= newReleases[i].get('name') %></a></h3>
            <p>
                <span class="price">¥<strong> <%= (newReleases[i].get('price') ? newReleases[i].get('price') + '.00' : '-') %></strong></span>
                <span><%=newReleases[i].get('pageViews') %>次浏览</span>
            </p>
            <p>
                <span class="active"><i class="am-icon-history"></i>7天退款</span>
            </p>
        </div>
    </li>
<% } %>

</ul>
最近卖出
<ul class="main-list">
    <% for(var i =0; i < openSell.length; i++) { %>

    <li>
        <div class="img">
            <span class="new"></span>
            <a href="/product/detail/<%=openSell[i].get('productId')%>"><img src="//ac-JoaBcRTt.clouddn.com/3a994354f637e827ae7e.png" class="lazy" width="100" height="100" data-original="<% for(var n in openSell[i].get('mainImage')) { %><% if(openSell[i].attributes.mainImage[n].isMainImage) { %><%= openSell[i].attributes.mainImage[n].url %>?imageMogr2/thumbnail/200<%break;}}%>" /></a>
        </div>
        <div class="detail">
            <h3><a href="/product/detail/<%=openSell[i].get('productId')%>"><%= openSell[i].get('name') %></a></h3>
            <p>
                <span class="price">¥<strong> <%= (openSell[i].get('price') ? openSell[i].get('price') + '.00' : '-') %></strong></span>
                <span><%=newReleases[i].get('pageViews') %>次浏览</span>
            </p>
            <p>
                <span class="active"><i class="am-icon-history"></i>7天退款</span>
            </p>
        </div>
    </li>
    <% } %>

</ul>

<% include ../partials/footer %>
<% include ../partials/js %>
<script>
    $(function() {
        var index = require('index');
        index.indexFun();
    });
</script>
</body>
</html>