<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <% include ../partials/css %>
</head>
<body class="<%=viewport%>">

<% include ../partials/header %>

<div class="am-cf admin-main">

    <!-- sidebar start -->
    <% include ../partials/sidebar %>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content admin-product-property-page">

        <input type="hidden" id="product-id" value="<%=product.get('productId')%>">

        <div class="product-crumb am-cf am-padding">
            <div class="am-fl am-cf"><a href="/admin/product">产品编辑</a> / <a href="/admin/product-property/<%= product.get('productId') %>">编辑产品属性</a> /
                <a href="/admin/product/edit/<%=product.get('productId')%>"><%=product.get('name')%></a></div>
        </div>

        <div class="am-g">
            <div class="am-u-sm-12">

                <section data-am-widget="accordion" class="am-accordion am-accordion-gapped" data-am-accordion>

                    <dl id="purchase-link" class="am-accordion-item">
                        <dt class="am-accordion-title am-cf">
                            1.产品购买链接编辑
                        </dt>
                        <dd class="am-accordion-bd am-collapse">
                            <div class="am-accordion-content">
                                <form class="am-form" action="/admin/product-property/purchase-link/<%= product.get('productId') %>" method="post">
                                    <label>产品购买链接:</label>
                                    <div class="am-form-group">
                                        <input name="purchase-link" type="text" value="<%if(product.get('purchaseLink')){ %><%= product.get('purchaseLink')[0] %><%}%>" autocomplete="off" placeholder="输入网站购买链接1"/>
                                    </div>
                                    <div class="am-form-group">
                                        <input name="purchase-link" type="text" value="<%if(product.get('purchaseLink')){ %><%= product.get('purchaseLink')[1] %><%}%>" autocomplete="off" placeholder="输入网站购买链接2" />
                                    </div>
                                    <div class="am-form-group">
                                        <input name="purchase-link" type="text" value="<%if(product.get('purchaseLink')){ %><%= product.get('purchaseLink')[2] %><%}%>" autocomplete="off" placeholder="输入网站购买链接3" />
                                    </div>
                                    <div>
                                        <button type="submit" class="am-btn am-btn-primary save-norefresh">保存</button>
                                    </div>
                                </form>
                            </div>
                        </dd>
                    </dl>

                    <dl id="shop-link" class="am-accordion-item">
                        <dt class="am-accordion-title am-cf">
                            2.网店链接编辑
                        </dt>
                        <dd class="am-accordion-bd am-collapse">
                            <div class="am-accordion-content">
                                <form class="am-form" action="/admin/product-property/shop-link/<%= product.get('productId') %>" method="post">
                                    <label>淘宝店铺链接:</label>
                                    <div class="am-form-group">
                                        <input name="shop-link" type="text" value="<%if(product.get('shopLink')){ %><%= product.get('shopLink')[0] %><%}%>" autocomplete="off" placeholder="输入微店链接" />
                                    </div>
                                    <label>淘口令链接:</label>
                                    <div class="am-form-group">
                                        <input name="shop-link" type="text" value="<%if(product.get('shopLink')){ %><%= product.get('shopLink')[1] %><%}%>" autocomplete="off" placeholder="输入淘宝店铺链接"/>
                                    </div>
                                    <button type="submit" class="am-btn am-btn-primary save-norefresh">保存</button>
                                </form>
                            </div>
                        </dd>
                    </dl>

                    <dl id="stock" class="am-accordion-item">
                        <dt class="am-accordion-title am-cf">
                            3.库存,预定管理
                        </dt>
                        <dd class="am-accordion-bd am-collapse">
                            <div class="am-accordion-content">
                                <form class="am-form" action="/admin/product-property/stock/<%= product.get('productId') %>" method="post">

                                    <div class="cf">
                                        <div class="l">
                                            <label>库存:</label>
                                            <div class="am-form-inline">
                                                <div class="am-form-group">
                                                    <select name="stock" data-stock="<% if(product.get('stock')) {%><%=product.get('stock')%><%}else{%>0<%}%>">
                                                        <% for(var i=0;i<401;i++) { %>
                                                        <option <% if(product.get('stock') == i) { %>selected="selected"<%}%> value="<%=i%>"><%=i%></option>
                                                        <% }%>
                                                    </select>
                                                </div>
                                                <div class="am-form-group">
                                                    <span class="split"></span>
                                                    <span><a href="javascript:;" class="stock-plus">+1库存</a></span>
                                                    <span class="split"></span>
                                                    <span><a href="javascript:;" class="stock-minus">-1库存</a></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="l">
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                        </div>

                                        <div class="l">
                                            <label>总销量:</label>
                                            <div class="am-form-inline">
                                                <div class="am-form-group">
                                                    <input type="text" autocomplete="off" name="sales" data-sales="<% if(product.get('sales')) {%><%=product.get('sales')%><%}else{%>0<%}%>" value="<% if(product.get('sales')) {%><%=product.get('sales')%><%}else{%>0<%}%>">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <label>库存提醒设置(自动):</label>
                                    <div class="am-form-inline">
                                        <div class="am-form-group">
                                            <label><input class="ckb-warning-stock-out" value="0" type="checkbox" name="updateStockDate"> 无库存提醒</label>
                                            <span class="sp"></span>
                                            <label><input class="ckb-warning-stock-in" value="1" type="checkbox" name="updateStockDate"> 新到货提醒</label>
                                        </div>
                                    </div>

                                    <hr/>

                                    <div class="cf">
                                        <div class="l">
                                            <label>已售出:</label>
                                            <div class="am-form-inline">
                                                <div class="am-form-group">
                                                    <input type="text" autocomplete="off" id="sold" name="sold" data-sold="<%= product.get('sold') %>" value="<%= product.get('sold') %>">
                                                </div>
                                                <div class="am-form-group">
                                                    <span class="split"></span>
                                                    <span><a href="javascript:;" class="sold-plus">+1售出</a></span>
                                                    <span class="split"></span>
                                                    <span><a href="javascript:;" class="sold-minus">-1售出</a></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="l">
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                        </div>
                                        <div class="l">
                                            <label>产品在途/已预定:</label>
                                            <div class="am-form-inline">
                                                <div class="am-form-group">
                                                    <input type="text" autocomplete="off" id="reserve" name="reserve" data-reserve="<%= product.get('reserve') %>" value="<%= product.get('reserve') %>">
                                                    <!--
                                            <select name="reserve">
                                                <% for(var i=0;i<101;i++) { %>
                                                <option <% if(product.get('reserve') == i) { %>selected="selected"<%}%> value="<%=i%>"><%=i%></option>
                                                <% }%>
                                            </select>
                                            -->
                                                </div>
                                                <div class="am-form-group">
                                                    <span class="split"></span>
                                                    <span><a href="javascript:;" class="reserve-plus" data-plus="0">0</a></span>
                                                    <span class="split"></span>
                                                    <span><a href="javascript:;" class="reserve-plus" data-plus="1">-1</a></span>
                                                    <span class="split"></span>
                                                    <span><a href="javascript:;" class="reserve-plus" data-plus="2">-2</a></span>
                                                    <span class="split"></span>
                                                    <span><a href="javascript:;" class="reserve-plus" data-plus="3">-3</a></span>
                                                    <span class="split"></span>
                                                    <span><a href="javascript:;" class="reserve-plus" data-plus="4">-4</a></span>
                                                    <span class="split"></span>
                                                    <span><a href="javascript:;" class="reserve-plus" data-plus="6">-6</a></span>
                                                    <span class="split"></span>
                                                    <span><a href="javascript:;" class="reserve-plus" data-plus="12">-12</a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr/>

                                    <div>
                                        <button type="submit" class="am-btn am-btn-primary">保存</button>
                                        <button type="button" class="am-btn am-btn-primary stock-reset">重置</button>
                                    </div>
                                </form>
                            </div>
                        </dd>
                    </dl>

                    <dl id="settings" class="am-accordion-item">
                        <dt class="am-accordion-title am-cf">
                            4.产品属性设置
                        </dt>
                        <dd class="am-accordion-bd am-collapse">
                            <div class="am-accordion-content">
                                <form class="am-form" action="/admin/product-property/settings/<%= product.get('productId') %>" method="post">

                                    <label>成本价(RMB):</label>
                                    <div class="am-form-group">
                                        <input name="cost-price" type="text" value="<%= product.get('costPrice') %>" autocomplete="off" placeholder="输入成本价" />
                                    </div>
                                    <label>定价(RMB):</label>
                                    <div class="am-form-group">
                                        <input name="price" type="text" value="<%= product.get('price') %>" autocomplete="off" placeholder="输入价格" />
                                    </div>

                                    <label>最低批发价:</label>
                                    <div class="am-form-group">
                                        <input name="original-price" type="text" value="<%= product.get('wholesalePrice') %>" autocomplete="off" placeholder="输入价格" />
                                    </div>

                                    <label>产地/国家:</label>
                                    <div class="am-form-group">
                                        <select name="country">
                                            <option value="">请选择</option>
                                            <option <% if(product.get('country') == 'us') { %>selected="selected"<%}%> value="us">美国</option>
                                            <option <% if(product.get('country') == 'in') { %>selected="selected"<%}%> value="in">印度</option>
                                            <option <% if(product.get('country') == 'tw') { %>selected="selected"<%}%> value="tw">中国台湾</option>
                                            <option <% if(product.get('country') == 'eu') { %>selected="selected"<%}%> value="eu">欧洲</option>
                                            <option <% if(product.get('country') == 'uk') { %>selected="selected"<%}%> value="uk">英国</option>
                                            <option <% if(product.get('country') == 'au') { %>selected="selected"<%}%> value="au">澳洲</option>
                                            <option <% if(product.get('country') == 'fr') { %>selected="selected"<%}%> value="fr">法国</option>
                                            <option <% if(product.get('country') == 'de') { %>selected="selected"<%}%> value="de">德国</option>
                                            <option <% if(product.get('country') == 'ca') { %>selected="selected"<%}%> value="ca">加拿大</option>
                                            <option <% if(product.get('country') == 'cn') { %>selected="selected"<%}%> value="cn">中国</option>
                                            <option <% if(product.get('country') == 'other') { %>selected="selected"<%}%> value="other">其他</option>
                                        </select>
                                        <span class="am-form-caret"></span>
                                    </div>

                                    <label>上架时间: <em>(参考系统录入时间:<%= new Date(product.createdAt).getFullYear() %>年<%= new Date(product.createdAt).getMonth()+1 %>月<%= new Date(product.createdAt).getDate() %>日)</em></label>
                                    <div class="am-form-group">
                                        <input type="text" name="onsale-date" id="onsale-date" data-am-datepicker="{format:'yyyy-mm-dd', viewMode: 'months'}" required placeholder="上架日期" value="<%if(product.get('onsaleDate')) { %><%= product.get('onsaleDate').getFullYear() %>-<%= product.get('onsaleDate').getMonth()+1%>-<%= product.get('onsaleDate').getDate() %><%}else{%><%= new Date(product.createdAt).getFullYear() %>-<%= new Date(product.createdAt).getMonth()+1 %>-<%= new Date(product.createdAt).getDate() %><%}%>" />
                                    </div>

                                    <div class="am-form-group">
                                        <label><input type="checkbox" name="is-refund" <% if(product.get('isRefund')) { %>checked="checked"<%}%> > 支持7天退货</label>
                                        <span class="split"></span>
                                        <label><input type="checkbox" name="is-hot" <% if(product.get('isHot')) { %>checked="checked"<%}%> > 热门产品</label>
                                        <span class="split"></span>
                                        <label><input type="checkbox" name="is-handmade" <% if(product.get('isHandmade')) { %>checked="checked"<%}%> > 纯手工</label>
                                        <span class="split"></span>
                                        <label><input type="checkbox" name="is-document" <% if(product.get('isDocument')) { %>checked="checked"<%}%>> 附送说明书</label>
                                        <span class="split"></span>
                                        <label><input type="checkbox" name="is-only" <% if(product.get('isOnly')) { %>checked="checked"<%}%>> 唯一</label>
                                        <span class="split"></span>
                                        <label class="color-orange"><input type="checkbox" name="is-short-stock" <% if(product.get('isShortStock')) { %>checked="checked"<%}%> > 缺货/断货</label>
                                    </div>

                                    <label>到货速度:</label>
                                    <div class="am-form-group">
                                        <select name="arrived-time">
                                            <option value="1" <%if(product.get('arrivedTime') ==1){%>selected="selected"<%}%> >非常快(1-2周)</option>
                                            <option value="2" <%if(product.get('arrivedTime') ==2){%>selected="selected"<%}%> >较快(2-3周)</option>
                                            <option value="3" <%if(product.get('arrivedTime') ==3){%>selected="selected"<%}%> >一般(3-4周)</option>
                                            <option value="4" <%if(product.get('arrivedTime') ==4){%>selected="selected"<%}%> >较慢(1个月以上)</option>
                                            <option value="5" <%if(product.get('arrivedTime') ==5){%>selected="selected"<%}%> >非常慢(2个月以上)</option>
                                        </select>
                                    </div>

                                    <label>上架产品: <em>(上架后才能在前台展示)</em></label>
                                    <div class="am-form-group">
                                        <label class="color-green"><input type="checkbox" name="is-onsale" <% if(product.get('isOnsale')) { %>checked="checked"<%}%>> <strong>上架产品</strong></label>
                                    </div>
                                    <div>
                                        <button type="submit" class="am-btn am-btn-primary">保存</button>
                                    </div>
                                </form>
                            </div>
                        </dd>
                    </dl>

                    <dl id="tags" class="am-accordion-item">
                        <dt class="am-accordion-title am-cf">
                            5.标签管理
                        </dt>
                        <dd class="am-accordion-bd am-collapse">
                            <div class="am-accordion-content">
                                <div class="product-tag-content">
                                    <label><input type="checkbox"> 魔法</label>
                                    <label><input type="checkbox"> 能量</label>
                                    <label><input type="checkbox"> 爱情</label>
                                    <label><input type="checkbox"> 财富</label>
                                    <label><input type="checkbox"> 许愿</label>
                                    <label><input type="checkbox"> 疗愈</label>
                                    <label><input type="checkbox"> 七脉轮</label>
                                </div>
                            </div>
                        </dd>
                    </dl>

                    <dl id="content-manage" class="am-accordion-item">
                        <dt class="am-accordion-title am-cf">
                            6.内容管理
                        </dt>
                        <dd class="am-accordion-bd am-collapse">
                            <div class="am-accordion-content">
                                <form class="am-form" action="/admin/product-property/content-manage/<%= product.get('productId') %>" method="post">

                                    <label>品牌介绍(自动更新):</label>
                                    <input type="hidden" name="brand-id" value="<%= product.get('productBrandId') %>">
                                    <div class="am-form-group typeahead-content">
                                        <input id="brand-id" type="text" value="<%= product.get('productBrandId') %>" autocomplete="off" placeholder="输入品牌介绍"/>
                                    </div>

                                    <label>视频连接(多个视频用回车分开):</label>
                                    <div class="am-form-group">
                                        <textarea name="video" id="video" rows="2"><%= product.get('video') %></textarea>
                                    </div>

                                    <div>
                                        <button type="submit" class="am-btn am-btn-primary save-norefresh">保存</button>
                                    </div>
                                </form>
                            </div>
                        </dd>
                    </dl>


                    <dl id="attachment-manage" class="am-accordion-item">
                        <dt class="am-accordion-title am-cf">
                            7.附件管理
                        </dt>
                        <dd class="am-accordion-bd am-collapse">
                            <div class="am-accordion-content">
                                <form class="am-form" action="/admin/product-property/attachment-manage/<%= product.get('productId') %>" method="post">
                                    <label>附件内容(格式:'name url',多个使用换行隔开):</label>
                                    <div class="am-form-group">
                                        <textarea id="attachment" name="attachment" placeholder="官方说明:http://51wish.cn/attachment.pdf" rows="3"><%= product.get('attachment') %></textarea>
                                    </div>
                                    <div>
                                        <iframe class="upload" src="/admin/upload?callback=attachmentUploadSuccess" frameborder="0"></iframe>
                                    </div>
                                    <hr/>
                                    <div>
                                        <button type="submit" class="am-btn am-btn-primary save-norefresh">保存</button>
                                    </div>
                                </form>
                            </div>
                        </dd>
                    </dl>

                    <dl id="image-source" class="am-accordion-item">
                        <dt class="am-accordion-title am-cf">
                            8.编辑产品原图
                        </dt>
                        <dd class="am-accordion-bd am-collapse">
                            <div class="am-accordion-content">
                                <form class="am-form" action="/admin/product-property/image-source/<%= product.get('productId') %>" method="post">
                                    <label>产品原图链接(多张图片用换行分开):</label>
                                    <div class="am-form-group">
                                        <textarea name="image-source" rows="3"><%= product.get('imageSource') %></textarea>
                                        <div class="image-source-download"></div>
                                    </div>
                                    <div>
                                        <button type="submit" class="am-btn am-btn-primary save-norefresh">保存</button>
                                    </div>
                                </form>
                            </div>
                        </dd>
                    </dl>

                    <dl id="set-comment" class="am-accordion-item">
                        <dt class="am-accordion-title am-cf">9.备注</dt>
                        <dd class="am-accordion-bd am-collapse">
                            <div class="am-accordion-content">
                                <form class="am-form" action="/admin/product-property/set-comment/<%= product.get('productId') %>" method="post">

                                    <label>添加备注:</label>
                                    <div class="am-form-group">
                                        <textarea name="comment" placeholder="备注"><%= product.get('comment') %></textarea>
                                    </div>

                                    <div>
                                        <button type="submit" class="am-btn am-btn-primary save-norefresh">保存</button>
                                    </div>
                                </form>
                            </div>
                        </dd>
                    </dl>

                </section>

            </div>
        </div>

    </div>
    <!-- content end -->

</div>

<% include ../partials/footer %>
<% include ../partials/js %>

<script type="text/javascript">
    $(function () {

        var product = require('product-property');
        product.init();
    });

    function attachmentUploadSuccess(data) {
        var attachment = $('#attachment');
        var val = attachment.val();
        attachment.val(val + '\n' + data[0].url);
    }
</script>
</body>
</html>