<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <% include ../partials/css %>
</head>
<body>

<% include ../partials/header %>

<div class="am-cf admin-main">

    <!-- sidebar start -->
    <% include ../partials/sidebar %>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content admin-product-property-page">

        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><a href="/admin/product">产品编辑</a> / <a href="/admin/product-property/<%= productProperty.get('productId') %>">编辑产品属性</a> /
                <a href="/admin/product/edit/<%=product.get('productId')%>"><%=product.get('name')%></a></div>
        </div>

        <div class="am-g">
            <div class="am-u-sm-12">
                
                <p></p>
                
                <section data-am-widget="accordion" class="am-accordion am-accordion-gapped" data-am-accordion>
                    
                    <dl id="accordion-purchase-link" class="am-accordion-item">
                        <dt class="am-accordion-title am-cf">
                            1.产品购买链接编辑
                        </dt>
                        <dd class="am-accordion-bd am-collapse">
                            <div class="am-accordion-content">
                                <form class="am-form" action="/admin/product-property/purchase-link/<%= productProperty.get('productId') %>" method="post">
                                    <label>产品购买链接:</label>
                                    <div class="am-form-group">
                                        <input name="purchase-link" type="text" value="<%if(productProperty.get('purchaseLink')){ %><%= productProperty.get('purchaseLink')[0] %><%}%>" placeholder="输入网站购买链接1"/>
                                    </div>
                                    <div class="am-form-group">
                                        <input name="purchase-link" type="text" value="<%if(productProperty.get('purchaseLink')){ %><%= productProperty.get('purchaseLink')[1] %><%}%>" placeholder="输入网站购买链接2" />
                                    </div>
                                    <div class="am-form-group">
                                        <input name="purchase-link" type="text" value="<%if(productProperty.get('purchaseLink')){ %><%= productProperty.get('purchaseLink')[2] %><%}%>" placeholder="输入网站购买链接3" />
                                    </div>
                                    <label>链接说明:</label>
                                    <div class="am-form-group">
                                        <textarea name="purchase-link-comment" rows="2"><%= productProperty.get('purchaseLinkComment') %></textarea>
                                    </div>
                                    <div>
                                        <button type="submit" class="am-btn am-btn-primary">保存</button>
                                    </div>
                                </form>
                            </div>
                        </dd>
                    </dl>

                    <dl id="accordion-shop-link" class="am-accordion-item">
                        <dt class="am-accordion-title am-cf">
                            2.网店链接编辑
                        </dt>
                        <dd class="am-accordion-bd am-collapse">
                            <div class="am-accordion-content">
                                <form class="am-form" action="/admin/product-property/shop-link/<%= productProperty.get('productId') %>" method="post">
                                    <label>淘宝店铺链接:</label>
                                    <div class="am-form-group">
                                        <input name="shop-link" type="text" value="<%if(productProperty.get('shopLink')){ %><%= productProperty.get('shopLink')[0] %><%}%>" placeholder="输入淘宝店铺链接"/>
                                    </div>
                                    <label>微店链接:</label>
                                    <div class="am-form-group">
                                        <input name="shop-link" type="text" value="<%if(productProperty.get('shopLink')){ %><%= productProperty.get('shopLink')[1] %><%}%>" placeholder="输入微店链接" />
                                    </div>
                                    <label>链接说明:</label>
                                    <div class="am-form-group">
                                        <textarea name="shop-link-comment" rows="2"><%= productProperty.get('shopLinkComment') %></textarea>
                                    </div>
                                    <div>
                                        <button type="submit" class="am-btn am-btn-primary">保存</button>
                                    </div>
                                </form>
                            </div>
                        </dd>
                    </dl>

                    <dl id="accordion-settings" class="am-accordion-item">
                        <dt class="am-accordion-title am-cf">
                            3.产品属性设置
                        </dt>
                        <dd class="am-accordion-bd am-collapse">
                            <div class="am-accordion-content">
                                <form class="am-form" action="" method="post">

                                    <label>库存:</label>
                                    <div class="am-form-group">
                                        <select name="stock">
                                            <option value="">请选择</option>
                                            <% for(var i=0;i<31;i++) { %>
                                            <option value="<%=i%>"><%=i%></option>
                                            <% }%>
                                        </select>
                                    </div>
                                    
                                    <label>价格:</label>
                                    <div class="am-form-group">
                                        <input name="price" type="text" value="" placeholder="输入价格" />
                                    </div>
                                    
                                    <label>产地/国家:</label>
                                    <div class="am-form-group">
                                        <select name="country">
                                            <option value="">请选择</option>
                                            <option value="us">美国</option>
                                            <option value="in">印度</option>
                                            <option value="tw">台湾</option>
                                            <option value="eu">欧洲</option>
                                            <option value="uk">英国</option>
                                            <option value="au">澳洲</option>
                                            <option value="fr">法国</option>
                                            <option value="de">德国</option>
                                            <option value="ca">加拿大</option>
                                            <option value="cn">中国</option>
                                            <option value="other">其他</option>
                                        </select>
                                        <span class="am-form-caret"></span>
                                    </div>
                                    
                                    <div class="am-form-group">
                                        <label>手工制作  <input type="checkbox" name="is-handmade"></label>
                                        <span class="split"></span>
                                        <label>附说明书/中文翻译  <input type="checkbox" name="is-document"></label>
                                        <span class="split"></span>
                                        <label>是否唯一 <input type="checkbox" name="is-only"></label>
                                    </div>
                                    
                                    <label>备注:</label>
                                    <div class="am-form-group">
                                        <textarea name="settings-comment" rows="2"><%= productProperty.get('shopLinkComment') %></textarea>
                                    </div>
                                    <div>
                                        <button type="submit" class="am-btn am-btn-primary">保存</button>
                                    </div>
                                </form>
                            </div>
                        </dd>
                    </dl>

                    <dl id="accordion-tags" class="am-accordion-item">
                        <dt class="am-accordion-title am-cf">
                            3.标签管理
                        </dt>
                        <dd class="am-accordion-bd am-collapse">
                            <div class="am-accordion-content">
                                <div class="product-tag-content">
                                    <label><input type="checkbox"> 魔法</label>
                                    <label><input type="checkbox"> 能量</label>
                                    <label><input type="checkbox"> 爱情</label>
                                    <label><input type="checkbox"> 财富</label>
                                    <label><input type="checkbox"> 许愿</label>
                                    <label><input type="checkbox"> 疗愈</label>
                                    <label><input type="checkbox"> 七脉轮</label>
                                </div>
                            </div>
                        </dd>
                    </dl>
                    
                </section>
                
            </div>
        </div>

    </div>
    <!-- content end -->

</div>

<% include ../partials/footer %>
<% include ../partials/js %>

<script type="text/javascript">
    $(function () {
        var productProperty = require('product-property');
        productProperty.init();
    });
</script>
</body>
</html>