<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <% include ../partials/css %>
</head>
<body class="<%=viewport%>">

<% include ../partials/header %>

<div class="am-cf admin-main">

    <!-- sidebar start -->
    <% include ../partials/sidebar %>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content admin-product-property-page">

        <div class="product-crumb am-cf am-padding">
            <div class="am-fl am-cf"><a href="/admin/product">产品编辑</a> / <a href="/admin/product-property/<%= productProperty.get('productId') %>">编辑产品属性</a> /
                <a href="/admin/product/edit/<%=product.get('productId')%>"><%=product.get('name')%></a></div>
        </div>

        <div class="am-g">
            <div class="am-u-sm-12">
                
                <section data-am-widget="accordion" class="am-accordion am-accordion-gapped" data-am-accordion>
                    
                    <dl id="purchase-link" class="am-accordion-item">
                        <dt class="am-accordion-title am-cf">
                            1.产品购买链接编辑
                        </dt>
                        <dd class="am-accordion-bd am-collapse">
                            <div class="am-accordion-content">
                                <form class="am-form" action="/admin/product-property/purchase-link/<%= productProperty.get('productId') %>" method="post">
                                    <label>产品购买链接:</label>
                                    <div class="am-form-group">
                                        <input name="purchase-link" type="text" value="<%if(productProperty.get('purchaseLink')){ %><%= productProperty.get('purchaseLink')[0] %><%}%>" autocomplete="off" placeholder="输入网站购买链接1"/>
                                    </div>
                                    <div class="am-form-group">
                                        <input name="purchase-link" type="text" value="<%if(productProperty.get('purchaseLink')){ %><%= productProperty.get('purchaseLink')[1] %><%}%>" autocomplete="off" placeholder="输入网站购买链接2" />
                                    </div>
                                    <div class="am-form-group">
                                        <input name="purchase-link" type="text" value="<%if(productProperty.get('purchaseLink')){ %><%= productProperty.get('purchaseLink')[2] %><%}%>" autocomplete="off" placeholder="输入网站购买链接3" />
                                    </div>
                                    <label>链接说明:</label>
                                    <div class="am-form-group">
                                        <textarea name="purchase-link-comment" rows="2"><%= productProperty.get('purchaseLinkComment') %></textarea>
                                    </div>
                                    <div>
                                        <button type="submit" class="am-btn am-btn-primary">保存</button>
                                    </div>
                                </form>
                            </div>
                        </dd>
                    </dl>

                    <dl id="shop-link" class="am-accordion-item">
                        <dt class="am-accordion-title am-cf">
                            2.网店链接编辑
                        </dt>
                        <dd class="am-accordion-bd am-collapse">
                            <div class="am-accordion-content">
                                <form class="am-form" action="/admin/product-property/shop-link/<%= productProperty.get('productId') %>" method="post">
                                    <label>淘宝店铺链接:</label>
                                    <div class="am-form-group">
                                        <input name="shop-link" type="text" value="<%if(productProperty.get('shopLink')){ %><%= productProperty.get('shopLink')[0] %><%}%>" autocomplete="off" placeholder="输入淘宝店铺链接"/>
                                    </div>
                                    <label>微店链接:</label>
                                    <div class="am-form-group">
                                        <input name="shop-link" type="text" value="<%if(productProperty.get('shopLink')){ %><%= productProperty.get('shopLink')[1] %><%}%>" autocomplete="off" placeholder="输入微店链接" />
                                    </div>
                                    <label>链接说明:</label>
                                    <div class="am-form-group">
                                        <textarea name="shop-link-comment" rows="2"><%= productProperty.get('shopLinkComment') %></textarea>
                                    </div>
                                    <div>
                                        <button type="submit" class="am-btn am-btn-primary">保存</button>
                                    </div>
                                </form>
                            </div>
                        </dd>
                    </dl>

                    <dl id="stock" class="am-accordion-item">
                        <dt class="am-accordion-title am-cf">
                            3.库存管理
                        </dt>
                        <dd class="am-accordion-bd am-collapse">
                            <div class="am-accordion-content">
                                <form class="am-form" action="/admin/product-property/stock/<%= productProperty.get('productId') %>" method="post">

                                    <label>库存:</label>
                                    <div class="am-form-inline">
                                        <div class="am-form-group">
                                            <select name="stock" data-stock="<% if(productProperty.get('stock')) {%><%=productProperty.get('stock')%><%}else{%>0<%}%>">
                                                <% for(var i=0;i<100;i++) { %>
                                                <option <% if(productProperty.get('stock') == i) { %>selected="selected"<%}%> value="<%=i%>"><%=i%></option>
                                                <% }%>
                                            </select>
                                        </div>
                                        <div class="am-form-group">
                                            <span><a href="javascript:;" class="stock-plus">+1库存</a></span>
                                            <span class="split"></span>
                                            <span><a href="javascript:;" class="stock-minus">-1库存</a></span>
                                        </div>
                                    </div>

                                    <label>总销量:</label>
                                    <div class="am-form-inline">
                                        <div class="am-form-group">
                                            <select name="sales" data-sales="<% if(productProperty.get('sales')) {%><%=productProperty.get('sales')%><%}else{%>0<%}%>">
                                                <% for(var i=0;i<100;i++) { %>
                                                <option <% if(productProperty.get('sales') == i) { %>selected="selected"<%}%> value="<%=i%>"><%=i%></option>
                                                <% }%>
                                            </select>
                                        </div>
                                    </div>

                                    <div>
                                        <button type="submit" class="am-btn am-btn-primary">保存</button>
                                        <button type="button" class="am-btn am-btn-primary stock-reset">重置</button>
                                    </div>
                                </form>
                            </div>
                        </dd>
                    </dl>
                    
                    <dl id="settings" class="am-accordion-item">
                        <dt class="am-accordion-title am-cf">
                            3.产品属性设置
                        </dt>
                        <dd class="am-accordion-bd am-collapse">
                            <div class="am-accordion-content">
                                <form class="am-form" action="/admin/product-property/settings/<%= productProperty.get('productId') %>" method="post">
                                    
                                    <label>价格(RMB):</label>
                                    <div class="am-form-group">
                                        <input name="price" type="text" value="<%= productProperty.get('price') %>" autocomplete="off" placeholder="输入价格" />
                                    </div>
                                    
                                    <label>产地/国家:</label>
                                    <div class="am-form-group">
                                        <select name="country">
                                            <option value="">请选择</option>
                                            <option <% if(productProperty.get('country') == 'us') { %>selected="selected"<%}%> value="us">美国</option>
                                            <option <% if(productProperty.get('country') == 'in') { %>selected="selected"<%}%> value="in">印度</option>
                                            <option <% if(productProperty.get('country') == 'tw') { %>selected="selected"<%}%> value="tw">台湾</option>
                                            <option <% if(productProperty.get('country') == 'eu') { %>selected="selected"<%}%> value="eu">欧洲</option>
                                            <option <% if(productProperty.get('country') == 'ul') { %>selected="selected"<%}%> value="uk">英国</option>
                                            <option <% if(productProperty.get('country') == 'au') { %>selected="selected"<%}%> value="au">澳洲</option>
                                            <option <% if(productProperty.get('country') == 'fr') { %>selected="selected"<%}%> value="fr">法国</option>
                                            <option <% if(productProperty.get('country') == 'de') { %>selected="selected"<%}%> value="de">德国</option>
                                            <option <% if(productProperty.get('country') == 'ca') { %>selected="selected"<%}%> value="ca">加拿大</option>
                                            <option <% if(productProperty.get('country') == 'cn') { %>selected="selected"<%}%> value="cn">中国</option>
                                            <option <% if(productProperty.get('country') == 'other') { %>selected="selected"<%}%> value="other">其他</option>
                                        </select>
                                        <span class="am-form-caret"></span>
                                    </div>
                                    
                                    <div class="am-form-group">
                                        <label><input type="checkbox" name="is-hot" <% if(productProperty.get('isHot')) { %>checked="checked"<%}%> > 热门产品</label>
                                        <span class="split"></span>
                                        <label><input type="checkbox" name="is-handmade" <% if(productProperty.get('isHandmade')) { %>checked="checked"<%}%> > 手工制作</label>
                                        <span class="split"></span>
                                        <label><input type="checkbox" name="is-only" <% if(productProperty.get('isOnly')) { %>checked="checked"<%}%>> 唯一</label>
                                        <span class="split"></span>
                                        <label><input type="checkbox" name="is-document" <% if(productProperty.get('isDocument')) { %>checked="checked"<%}%>> 附件</label>
                                    </div>

                                    <label>上架产品: <em>上架后才能在前台展示</em></label>
                                    <div class="am-form-group">
                                        <label><input type="checkbox" name="is-onsale" <% if(productProperty.get('isOnsale')) { %>checked="checked"<%}%>> 上架产品</label>
                                    </div>
                                    
                                    <label>备注:</label>
                                    <div class="am-form-group">
                                        <textarea name="settings-comment" rows="2"><%= productProperty.get('settingsComment') %></textarea>
                                    </div>
                                    
                                    <div>
                                        <button type="submit" class="am-btn am-btn-primary">保存</button>
                                    </div>
                                </form>
                            </div>
                        </dd>
                    </dl>

                    <dl id="tags" class="am-accordion-item">
                        <dt class="am-accordion-title am-cf">
                            5.标签管理
                        </dt>
                        <dd class="am-accordion-bd am-collapse">
                            <div class="am-accordion-content">
                                <div class="product-tag-content">
                                    <label><input type="checkbox"> 魔法</label>
                                    <label><input type="checkbox"> 能量</label>
                                    <label><input type="checkbox"> 爱情</label>
                                    <label><input type="checkbox"> 财富</label>
                                    <label><input type="checkbox"> 许愿</label>
                                    <label><input type="checkbox"> 疗愈</label>
                                    <label><input type="checkbox"> 七脉轮</label>
                                </div>
                            </div>
                        </dd>
                    </dl>
                    
                </section>
                
            </div>
        </div>

    </div>
    <!-- content end -->

</div>

<% include ../partials/footer %>
<% include ../partials/js %>

<script type="text/javascript">
    $(function () {
        
        var productProperty = require('product-property');
        productProperty.init();
    });
</script>
</body>
</html>