<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <% include ../partials/css %>
</head>
<body>

<% include ../partials/header %>

<div class="am-cf admin-main">

    <!-- sidebar start -->
    <% include ../partials/sidebar %>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content admin-product-brand-page">

        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong><a href="/admin/product-brand">品牌编辑</a></strong> / <a href="/admin/product-brand/edit/<%=productBrand.get('productBrandId')%>">编辑产品品牌</a></div>
        </div>

        <div class="am-g">
            <div class="am-u-sm-12">

                <form id="form-add-product" class="am-form" method="post" >

                    <!-- name start -->
                    <div class="am-form-group">
                        <label for="name">品牌名称描述<i>*</i>:</label>
                        <input id="name" required name="name" type="text" value="<%=productBrand.get('name')%>" placeholder="输入品牌名称描述[必填]" />
                    </div>
                    <!-- name end -->

                    <hr/>

                    <!-- brand name start -->
                    <div class="am-form-group">
                        <label for="brand-name">品牌标识(查询使用)</label>
                        <input id="brand-name" name="brand-name" type="text" placeholder="输入品牌名称" value="<%=productBrand.get('brandName')%>" />
                    </div>
                    <!-- brand name end -->

                    <hr/>

                    <!-- name start -->
                    <div class="am-form-group">
                        <label for="type">类型:</label>
                        <div>
                            <select name="type" id="type">
                                <option value="person" <%if(productBrand.get('type')==='person'){%>selected<%}%>>个人</option>
                                <option value="brand" <%if(productBrand.get('type')==='brand'){%>selected<%}%>>品牌</option>
                            </select>
                        </div>
                    </div>
                    <!-- name end -->

                    <hr/>

                    <!-- brand logo image start -->
                    <div class="am-form-group">
                        <label for="brand-logo-image">品牌Logo：</label>
                        <div class="upload-content">
                            <iframe class="upload" src="/admin/product-brand/upload?callback=brandLogoUploadSuccess" frameborder="0"></iframe>
                        </div>
                        <ul id="brand-logo-image-view" class="image-upload-list <%if(productBrand.get('brandLogoImage')){%>on<%}%>">
                            <%if(productBrand.get('brandLogoImage')){%><li><a href="<%= productBrand.get('brandLogoImage') %>"><img src="<%=productBrand.get('brandLogoImage')%>"/></a></li><%}%>
                        </ul>
                        <input id="brand-logo-image" name="brand-logo-image" type="hidden" value="<%=productBrand.get('brandLogoImage')%>"/>
                    </div>
                    <!-- brand logo image end -->

                    <hr/>

                    <!-- brand start -->
                    <div class="am-form-group">
                        <label for="brand-detail">品牌介绍(md5):</label>
                        <textarea name="brand-detail" id="brand-detail" rows="10"><%=productBrand.get('brandDetail')%></textarea>
                    </div>
                    <!-- brand end -->

                    <hr/>

                    <!-- image upload start -->
                    <div class="am-form-group">
                        <label for="author-image">上传文件：</label>
                        <div class="upload-content">
                            <iframe class="upload" src="/admin/product-brand/upload?callback=imageUploadSuccess" frameborder="0"></iframe>
                        </div>
                    </div>
                    <!-- image upload end -->

                    <hr/>

                    <!-- author name start -->
                    <div class="am-form-group">
                        <label for="author-name">创始人姓名:</label>
                        <input id="author-name" name="author-name" type="text" placeholder="输入品牌名称" value="<%=productBrand.get('authorName')%>" />
                    </div>
                    <!-- author name end -->

                    <hr/>

                    <!-- author image start -->
                    <div class="am-form-group">
                        <label for="author-image">创始人照片：</label>
                        <div class="upload-content">
                            <iframe class="upload" src="/admin/product-brand/upload?callback=authorUploadSuccess" frameborder="0"></iframe>
                        </div>
                        <ul id="author-image-view" class="image-upload-list <%if(productBrand.get('authorImage')){%>on<%}%>">
                            <%if(productBrand.get('authorImage')){%><li><a href="<%= productBrand.get('authorImage') %>"><img src="<%=productBrand.get('authorImage')%>"/></a></li><%}%>
                        </ul>
                        <input id="author-image" name="author-image" type="hidden" value="<%=productBrand.get('authorImage')%>"/>
                    </div>
                    <!-- author image end -->

                    <hr/>

                    <!-- author detail start -->
                    <div class="am-form-group">
                        <label for="author-detail">创始人介绍(md5):</label>
                        <textarea name="author-detail" id="author-detail" rows="10"><%=productBrand.get('authorDetail')%></textarea>
                    </div>
                    <!-- author detail end -->

                    <hr/>

                    <!-- url start -->
                    <label for="author-name">相关链接(多个链接用回车隔开):</label>
                    <div class="am-form-group">
                        <textarea name="url" rows="3"><%=productBrand.get('url')%></textarea>
                    </div>
                    <!-- url end -->

                    <hr/>

                    <!-- comment start -->
                    <div class="am-form-group">
                        <label for="author-detail">备注:</label>
                        <textarea name="comment" id="comment" rows="2"><%=productBrand.get('comment')%></textarea>
                    </div>
                    <!-- comment end -->

                    <div class="am-form-group">
                        <button id="submit" type="submit" class="am-btn am-btn-primary">保存</button>
                        <button type="button" class="am-btn am-btn-primary" onclick="history.back(-1);">返回</button>
                    </div>

                </form>

            </div>
        </div>

    </div>
    <!-- content end -->

</div>

<% include ../partials/footer %>
<% include ../partials/js %>

<script type="text/javascript">
    var productBrand;
    
    $(function () {
        productBrand = require('product-brand');
        productBrand.editFun();
    });

    function brandLogoUploadSuccess(data) {
        productBrand.brandLogoUploadSuccess(data);
    }

    function authorUploadSuccess(data) {
        productBrand.authorUploadSuccess(data);
    }

    function imageUploadSuccess(data) {
        productBrand.imageUploadSuccess(data);
    }
</script>
</body>
</html>