<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>
<body class="article-page desktop-page">

<% include ../partials-desktop/menu %>

<div class="detail-content">

    <h1><%= article.get('name')%></h1>

    <div class="detail-crumb cf">
        <div class="l">
            <a href="/blog">博客/文章</a>
            <i class="am-icon-angle-right"></i>
            <a href="#"><% if(articleCategory) {
                for(var i = 0; i < articleCategory.length; i++) {
                if (articleCategory[i].get('articleCategoryId') == article.get('articleCategoryId')) {
                %>
                    <%=articleCategory[i].get('name') %>
                    <%
                }
                %>

                <%    }
                }
                %></a>
        </div>
        <div class="r">
            阅读量:<%=article.get('pageView')%>
            <span class="split"></span>
            <%=article.get('createdAt')%>
        </div>
    </div>

    <div class="preview-content">
        <%- article.get('content')%>
    </div>

</div>


<% include ../partials-desktop/footer %>
<% include ../partials/js %>
</body>
</html>