<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>
<body class="article-detail-page">

<% include ../partials/header-sub %>

<% if(article) { %>
<div class="crumb">
    <div class="l"><a href="/blog">文章列表</a> <i class="am-icon-angle-right"></i> <a href="#">精油</a></div>
    <div class="r">浏览量: <span class="price"><%=article.get('pageView')%></strong></span></div>

</div>

<h1>
    <a href="/blog/<%= article.get('articleId') %>"><%= article.get('name') %></a>
</h1>

<div class="tag-content">
    <span>金钱</span>
    <span>招财</span>
</div>


<% if(article.get('image')) {%>
<div class="main-image">
    <img src="<%= article.get('image'); %>" alt="">
</div>
<%}%>


<div class="detail">
    <%- article.get('content')%>
</div>

<%}%>

<div class="child-detail">
    <h3>相关子文章</h3>
    <ul>
        <li><a href="#">子文章列表</a></li>
        <li><a href="#">子文章列表</a></li>
        <li><a href="#">子文章列表</a></li>
        <li><a href="#">子文章列表</a></li>
    </ul>
</div>

<% include ../partials/js %>

<script>
    $(function() {

    });
</script>
</body>
</html>