<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>
<body class="article-detail-page">

<% include ../partials/header-sub %>

    <div class="crumb">
        <a href="/blog">文章分类</a> <i class="am-icon-angle-right"></i>
            <% for(var i = 0; i<articleCategory.length; i++) {
                if (article.get('articleCategoryId') == articleCategory[i].get('articleCategoryId')) {
            %>
        <a href="/blog?catid=<%=articleCategory[i].get('articleCategoryId')%>"><%=articleCategory[i].get('name') %></a>
            <%
                break;
                }
            } %>

    </div>

    <h1 class="main-title">
        <%= article.get('name') %>
    </h1>

    <div class="title-info">
        <span>浏览量:<%=article.get('pageView')%></span> <span>更新日期:<%= article.get('updatedAt').getFullYear() + '-' + (article.get('updatedAt').getMonth()+1) + '-' +  article.get('updatedAt').getDate() %></span>
    </div>

    <% if(article.get('parentArticleId') > 0 && parentArticle){%>
    <h4 class="crumb-main-article">父文章：<a href="/blog/<%=article.get('parentArticleId')%>"><%=parentArticle.get('name')%></a></h4>
    <%}%>

    <% if(article.get('tag').length>0) { %>
    <div class="tag-content">
        标签：
        <% if (articleTag) {
            for(var t=0;t<articleTag.length;t++) {
                if(article.get('tag').indexOf(String(articleTag[t].get('articleTagId')))>=0) {
        %>
        <span><a href="/blog?tag=<%=articleTag[t].get('articleTagId')%>"><%=articleTag[t].get('name')%></a></span>
        <%      }
            }
        } %>
    </div>
    <% } %>

    <div class="info-content">

        <div class="info">
            <div class="img">
                <img width="60" src="<%=nextArticle.get('image')%>" alt="">
            </div>
            <div class="text">下一篇：<a href="/blog/<%=nextArticle.get('articleId')%>"><%=nextArticle.get('name')%></a></div>
        </div>

        <div class="favorite-box">
            <input id="favorite" type="checkbox" data-product-id="" checked="checked" />
            <label for="favorite" aria-label="like"><i class="am-icon-heart"></i></label>
            <span <%if(wish){%>class="active"<%}%> ><i class="favorite-text"><%if(wish){%>已收藏<%}else{%>收藏<%}%></i>(<i class="favorite-count"><%= wishCount %></i>)</span>
        </div>
    </div>

    <% if(article.get('image')) {%>
    <div class="main-image">
        <img src="<%= article.get('image'); %>" alt="">
    </div>
    <%}%>


    <div class="detail">
        <%- article.get('content')%>
    </div>

    <div class="child-detail-content" data-id="<%= article.get('articleId') %>"></div>

    <div class="events">
        <a class="events-good" href="javascript:;"><i class="am-icon-thumbs-up"></i> <span>点赞 ( <em><%=article.get('approval')%></em> )</span> </a>
        <a class="events-share" href="javascript:;"><i class="am-icon-share"></i> <span>分享给好友</span> </a>
    </div>

<% include ../partials/footer-article %>
<% include ../partials/js %>

<script>
    $(function() {

        var article = require('article');
        article.searchFun();

        var article = require('article');
        article.initDetailMobile();
    });
</script>
</body>
</html>