<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>
<body class="article-detail-page">

<% include ../partials/header-sub %>

<% if(article) { %>

<div class="crumb">
    <a href="#">文章分类</a> <i class="am-icon-angle-right"></i> <a href="#">精油</a>
</div>

<h1>
    <a href="/blog/<%= article.get('articleId') %>"><%= article.get('name') %></a>
</h1>

<div class="tag-content">
    <span>金钱</span>
    <span>招财</span>
</div>

<!--
    <p>
        人气: <span class="price"><%=article.get('pageView')%></strong></span>
    </p>
    -->
<div class="detail">
    <%- article.get('content')%>
</div>

<% } else { %>


<%}%>


<% include ../partials/js %>

<script>
    $(function() {

    });
</script>
</body>
</html>