<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>
<body class="article-detail-page">

<% include ../partials/header-sub %>

<% if(article) { %>

<div class="crumb">
    <a href="#">文章分类</a> <i class="am-icon-angle-right"></i>
        <% for(var i = 0; i<articleCategory.length; i++) {
            if (article.get('articleCategoryId') == articleCategory[i].get('articleCategoryId')) {
        %>
    <a href="/blog?catid=<%=articleCategory[i].get('articleCategoryId')%>"><%=articleCategory[i].get('name') %></a>
        <%
            break;
            }
        } %>
    <div class="r">浏览量: <span class="price"><%=article.get('pageView')%></strong></span></div>
</div>

<h1>
    <a href="/blog/<%= article.get('articleId') %>"><%= article.get('name') %></a>
</h1>
<% if(article.get('tag').length>0) { %>
<div class="tag-content">
    <% if (articleTag) {
        for(var t=0;t<articleTag.length;t++) {
            if(article.get('tag').indexOf(String(articleTag[t].get('articleTagId')))>=0) {
    %>
    <span><%=articleTag[t].get('name')%></span>
    <%      }
        }
    } %>
</div>
<% } %>

<% if(article.get('image')) {%>
<div class="main-image">
    <img src="<%= article.get('image'); %>" alt="">
</div>
<%}%>


<div class="detail">
    <%- article.get('content')%>
</div>

<%}%>

<div class="child-detail-content" data-id="<%= article.get('articleId') %>">

</div>


<% include ../partials/js %>

<script>
    $(function() {
        var article = require('article');
        article.initDetailMobile();
    });
</script>
</body>
</html>