<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>
<body class="article-page desktop-page">

<% include ../partials-desktop/menu %>

<div class="crumb">
    <a href="/blog" <%if(!articleCategoryId) { %> class="on"<%}%>>所有分类 <%if(!articleCategoryId) { %>(<%= count %>)<%}%></a>
    <% for (var k=0; k<articleCategory.length; k++) { %>
        <a data-id="<%= articleCategory[k].get('articleCategoryId')%>" class="tags <% if(articleCategoryId == articleCategory[k].get('articleCategoryId')) { %>on<% } %>" href="/blog?catid=<%= articleCategory[k].get('articleCategoryId')%>"><%= articleCategory[k].get('name')%> <% if(articleCategoryId == articleCategory[k].get('articleCategoryId')) { %>(<%= count %>)<% } else { %><em></em><%}%></a>
    <% } %>
</div>

<ul class="main-list">
    <% if(article) { %>
    <% for(var i=0; i < article.length; i++) {%>
        <li>
            <div class="content">
                <div class="main-img">
                    <a href="/blog/<%= article[i].get('articleId') %>"><img width="260" height="260" src="<%= article[i].get('image') %>" alt="<%= article[i].get('name') %>"></a>
                </div>
                <div class="title">
                    <a href="/blog/<%= article[i].get('articleId') %>"><%= article[i].get('name') %></a>
                </div>
                <div class="info">
                    <div class="left">

                    </div>
                    <div class="right">
                        <span>人气:<%=article[i].get('pageView')%></span>
                        <span class="split"></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </li>
    <% }
    } %>
</ul>

<div class="navigation">
    <a href="/blog/ajax?page=1"></a>
</div>

<% include ../partials-desktop/footer %>
<% include ../partials/js %>
<script>
    $(function() {
        var article = require('article');
        article.initDesktop();
    });
</script>
</body>
</html>