<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>
<body class="user-page user-blog-detail-page">

<% include ../partials/header-sub %>

<% if(article) { %>
<ul class="main-list">
    <% for(var i=0; i < article.length; i++) {%>
    <li>
        <div class="img">
            <a href="/blog/<%= article[i].get('articleId') %>"><img src="<%= article[i].get('image') %>" class="lazy" width="100" height="100"  /></a>
        </div>
        <div class="detail">
            <h3>
                <a href="/blog/<%= article[i].get('articleId') %>"><%= article[i].get('name') %></a>
            </h3>
            <h4>
                <%=article[i].get('summary')%>
            </h4>
            <p>
                人气: <span class="price"><%=article[i].get('pageView')%></strong></span>
            </p>
        </div>
    </li>

    <% } %>
</ul>
<% } else { %>
<div class="">
    <div></div>
    <p>没有文章</p>
</div>
<%}%>


<% include ../partials/js %>

<script>
    $(function() {
        var cart = require('cart');
        cart.init();
    });
</script>
</body>
</html>