<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>
<body class="user-page article-list-page">

<% include ../partials/header-sub %>

<div class="main-article-menu am-g am-g-fixed">
    <div class="am-u-sm-6">
        <div class="am-dropdown am-dropdown-flip" data-am-dropdown>

            <button class="am-btn am-btn-primary am-dropdown-toggle"><span><%=categoryName%></span> <span class="am-icon-caret-down"></span></button>
        </div>
    </div>
    <div class="am-u-sm-6">
        <div class="am-dropdown sort am-dropdown-flip" data-am-dropdown>
            <% let orderName = order == 'pageView' ? '热门' : '上新时间';
            %>
            <button class="am-btn am-btn-primary am-dropdown-toggle"><span><%=orderName%></span> <span class="am-icon-caret-down"></span></button>
            <ul class="am-dropdown-content">
                <li><a  href="/blog?order=pageView&catid=<%=catid%>">热门 <i class="am-icon-star"></i></a></li>
                <li><a href="/blog?order=createdAt&catid=<%=catid%>">上新时间 <i class="am-icon-calendar-check-o"></i></a></li>
            </ul>
        </div>
    </div>
</div>

<% if(article) { %>
<ul class="main-list">

</ul>
<%}%>


<% include ../partials/footer-article %>
<% include ../partials/js %>

<script>
    $(function() {

        var article = require('article');
        article.searchFun();

        var articleList = require('article-list');
        articleList.init();

    });
</script>
</body>
</html>