<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <% include ../partials/css %>
    <% include ../partials/tongji %>
</head>
<body class="user-page article-list-page">

<% include ../partials/header-sub %>

<% if(article) { %>
<ul class="main-list">
    <% for(var i=0; i < article.length; i++) {%>
    <li data-id="<%= article[i].get('articleId') %>">
        <div class="img">
            <a href="/blog/<%= article[i].get('articleId') %>"><img src="<%= article[i].get('image') %>" class="lazy" width="100" height="100"  /></a>
        </div>
        <div class="detail">
            <h3>
                <a href="/blog/<%= article[i].get('articleId') %>"><%= article[i].get('name') %></a>
            </h3>
            <h4>
                <%=article[i].get('summary')%>
            </h4>
            <div class="info">
                人气: <span class="views"><%=article[i].get('pageView')%></span>
            </div>
        </div>
    </li>
    <% } %>
</ul>

<%}%>


<% include ../partials/footer-article %>
<% include ../partials/js %>

<script>
    $(function() {

        var article = require('article');
        article.searchFun();

        var articleList = require('article-list');
        articleList.init();

    });
</script>
</body>
</html>