<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <% include ../partials/css %>
</head>
<body>

<% include ../partials/header %>

<% if (flash.success != '') { %>
<div class="am-alert am-alert-success">
    <p><%= flash.success %></p>
</div>
<% } %>

<div class="am-cf admin-main">
    
    <!-- sidebar start -->
    <% include ../partials/sidebar %>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content admin-product-page">

        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong><a href="/admin/product">产品编辑</a></strong> / <a href="/admin/product"><%= productTitle%>%></a>
            </div>
        </div>

        <div class="am-g">
            <div class="am-form">
                
                <div class="cf">
                    <div class="am-u-sm-12 am-u-md-3">
                        <form action="/admin/product" method="get">
                        <div class="am-form-group">
                            <div class="am-input-group am-input-group-sm">
                                <input type="text" name="search" value="<%=search%>" class="search am-form-field" placeholder="搜索产品">
                                <span class="am-input-group-btn"><button class="am-btn am-btn-primary" type="submit">搜索</button></span>
                            </div>
                        </div>
                        </form>
                    </div>

                    <div class="am-u-sm-12 am-u-md-3">
                        <div class="am-form-group">
                            <select class="select-product-method">
                                <option value="">产品类型</option>
                                <% for (var i=0;i < productMethod.length; i++) { %>
                                <option
                                <% if(productMethod[i].get('productMethodId') === productMethodId ) { %> selected="selected" <% } %>
                                value="<%= productMethod[i].get('productMethodId'); %>"> <%= productMethod[i].get('name');%></option><%
                                } %>
                            </select>
                        </div>
                    </div>

                    <div class="am-u-sm-12 am-u-md-3">
                        <div class="am-form-group">
                            <select class="select-category-1">
                                <option value="">商品一级分类</option>
                                <% for (var i=0;i < category1.length; i++) { %>
                                <option <% if(category1[i].get('category1Id') === category1Id ) { %> selected="selected" <% } %>value="<%= category1[i].get('category1Id') %>"> <%= category1[i].get('name');%></option><% }%>
                            </select>
                        </div>
                    </div>

                    <div class="am-u-sm-12 am-u-md-3">
                        <div class="am-form-group">
                            <select class="select-category-2">
                                <option value="">商品二级分类</option>
                                <% for (var i=0;i < category2.length; i++) { %>
                                <option
                                <% if(category2[i].get('category2Id') === category2Id ) { %> selected="selected" <% } %>
                                value="<%= category2[i].get('category2Id') %>"> <%= category2[i].get('name');%></option><% }
                                %>
                            </select>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>


        <div class="am-g">
            <div class="am-u-sm-12">
                <table class="am-table am-table-striped">
                    <thead>
                    <tr>
                        <th>产品名称</th>
                        <th class="t-c">预览</th>
                        <th class="t-c">产品url</th>
                        <th class="t-c">网店url</th>
                        <th class="t-c">内容</th>
                        <th class="t-c">附件</th>
                        <th class="t-c">选项</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for(var i=0; i < product.length; i++) {%>
                    <tr data-product-id="<%= product[i].get('productId') %>">
                        <td class="product-title">
                            <%if(product[i].mainImage) {%><a target="_blank" href="<%= product[i].mainImage%>"><img width="32" src="<%= product[i].mainImage%>?imageMogr2/thumbnail/32" alt=""></a><%}else{%><img src="http://ac-QuiPuWpJ.clouddn.com/0d56f9d95dc6da7edf45.png?imageMogr2/thumbnail/32" width="32"/><%}%> <a href="/admin/product/edit/<%= product[i].get('productId') %>"><%= product[i].get('name')%> {<%= product[i].get('productId')%>}</a>

                            <a class="link-modal-viewport" href="/admin/product-property/<%= product[i].get('productId') %>?viewport=window#stock"><i class="am-icon-inbox <%if(product[i].get('stock')){%> instock<%}%>"><%if(product[i].get('stock')){%><em class="stock-num"><%= product[i].get('stock') %></em><%}%></i></a>
                            
                            <a class="link-modal-viewport" href="/admin/product-property/<%= product[i].get('productId') %>?viewport=window#settings"><i class="am-icon-gear"></i></a>

                            <a href="/admin/product/groups/<%= product[i].get('productId') %>?product-method-id=<%=product[i].get('productMethod')[0]%>&category1-id=<%=product[i].get('category1')[0]%>&category2-id=<%=product[i].get('category2')[0]%>"><i class="am-icon-sitemap"></i></a>

                            <% for(var j=0;j<product[i].get('productMethod').length;j++) { %><a href="/admin/product?product-method-id=<%=product[i].get('productMethod')[j]%>&category1-id=<%=product[i].get('category1')[j]%>&category2-id=<%=product[i].get('category2')[j]%>"><i class="am-icon-tag"></i></a> <%}%>
                        </td>
                        <td class="t-c">
                            <a target="_blank" href="/admin/product/preview/<%= product[i].get('productId') %>"><i class="am-icon-external-link"></i></a>
                        </td>
                        <td class="t-c">
                            <span class="purchase-link" data-product-id="<%= product[i].get('productId') %>">
                                <%if(product[i].get('purchaseLink').length) {%>
                                    <%for(var j=0;j < product[i].get('purchaseLink').length;j++) { %>
                                        <%if(product[i].get('purchaseLink')[j]) { %>
                                            <a href="<%= product[i].get('purchaseLink')[j] %>" target="_blank"><i class="am-icon-link"></i></a>
                                        <%}%>
                                    <%}%>
                                <%}else{%>
                                    -
                                <%}%>
                            </span>
                            <a class="link-modal-viewport" href="/admin/product-property/<%= product[i].get('productId') %>?viewport=window#purchase-link"><i class="am-icon-edit"></i></a>
                        </td>
                        <td class="t-c">
                            <span class="shop-link" data-product-id="<%= product[i].get('productId') %>">
                                <%if(product[i].get('shopLink').length) {%>
                                    <%for(var j=0;j < product[i].get('shopLink').length;j++) { %>
                                        <%if(product[i].get('shopLink')[j]) { %>
                                            <a href="<%= product[i].get('shopLink')[j] %>" target="_blank"><i class="am-icon-link"></i></a>
                                        <%}%>
                                    <%}%>
                                <%}else{%>
                                    -
                                <%}%>
                            </span>
                            <a class="link-modal-viewport" title="编辑" href="/admin/product-property/<%= product[i].get('productId') %>?viewport=window#shop-link"><i class="am-icon-edit"></i></a>
                        </td>
                        <td class="t-c">
                            <a class="link-modal-viewport" title="内容管理" href="/admin/product-property/<%= product[i].get('productId') %>?viewport=window#content-manage"><i class="am-icon-book"></i></a>
                        </td>
                        <td class="t-c">
                            <a class="link-modal-viewport" title="附件管理" href="/admin/product-property/<%= product[i].get('productId') %>?viewport=window#attachment-manage"><i class="am-icon-paperclip"></i></a>
                        </td>
                        <td class="t-c">
                            <div class="am-dropdown" data-am-dropdown>
                                <button class="am-btn am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle><i class="am-icon-ellipsis-h"></i></button>
                                <ul class="am-dropdown-content">
                                    <li><a href="/admin/product/copy/<%= product[i].get('productId') %>">复制</a></li>
                                    <li><a class="link-modal-viewport" href="/admin/product-property/<%= product[i].get('productId') %>?viewport=window#tags">标签管理</a></li>
                                    <li><a class="link-modal-viewport" href="/admin/product-property/<%= product[i].get('productId') %>?viewport=window#set-comment">备注</a></li>
                                    <li><a href="javascript:;" data-id="<%= product[i].get('productId') %>" class="remove-product">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <% } %>
                    </tbody>
                </table>

                <div class="am-pager am-cf">
                    <div class="am-fl">
                        <ul class="am-pagination">
                            <%- pagerHtml %>
                        </ul>
                    </div>
                    <div class="am-fr">
                        第<%=pager.page%>页 共<%=pager.count%>条
                    </div>
                </div>

                <div class="am-form-group">
                    <a href="/admin/product/add" class="am-btn am-btn-primary" role="button">添加新产品</a>
                </div>

            </div>
        </div>

    </div>
    <!-- content end -->

</div>


<!-- modal 删除产品 -->
<div class="am-modal am-modal-confirm" tabindex="-1" id="confirm-remove-product">
    <div class="am-modal-dialog">
        <div class="am-modal-bd">
            确定要删除这条记录吗？
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
        </div>
    </div>
</div>
<!-- modal 删除产品 -->


<!-- modal alert -->
<div class="am-modal am-modal-confirm" tabindex="-1" id="modal-alert">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">提示</div>
        <div class="am-modal-bd"></div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-confirm>确认</span>
        </div>
    </div>
</div>
<!-- modal alert -->

<!-- modal viewport iframe -->
<div class="am-modal am-modal-prompt" tabindex="-1" id="modal-viewport">
    <div class="am-modal-dialog">
        <div class="am-modal-hd"><a href="javascript:;" class="am-close am-close-spin" data-am-modal-close="">×</a></div>
        <div class="am-modal-bd"></div>
    </div>
</div>
<!-- modal viewport iframe -->



<% include ../partials/footer %>
<% include ../partials/js %>

<script type="text/javascript">
    
    $(function () {
        var product = require('product');
        product.indexFun();
    });
    
    //iframe window关闭
    function closeViewportModal() {
        $('#modal-viewport').modal('close');
        location.reload();
    }
    
</script>
</body>
</html>