<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <% include ../partials/css %>
</head>
<body>

<% include ../partials/header %>

<div class="product-preview-page">

    <div class="cf">
        <div class="l">
            <div class="small-screen-hide">
                <button type="button" class="am-btn am-btn-success btn-shot" disabled="disabled">生成淘宝详情图片</button>
                <% if(product.get('groups').length) {%>
                    <% for(var i=0;i<product.get('groups').length;i++) {%>
                        <% if(product.get('groups')[i].products.length) {%>
                            <button type="button" class="am-btn am-btn-success btn-shot-recommend" disabled="disabled">生成推荐产品图片</button>
                        <%}%>
                    <%}%>
                <% } %>

                <button type="button" class="am-btn am-btn-success btn-shot-one" onclick="webShotOneDiv()">生成指定淘宝详情图片</button>

            </div>
        </div>
        <div class="r">
            <label><input class="disable-watermark" type="checkbox"> 不显示水印</label>
        </div>
    </div>

    <hr class="small-screen-hide"/>

    <h4><%- name %></h4>

    <hr/>
    
    <div class="content">
        
        <div class="preview-content">

            <!--
            <% if (name) { %>
            <section><img src="https://img.alicdn.com/imgextra/i3/42879206/TB2zLWap80lpuFjSszdXXcdxFXa_!!42879206.png"></section>
            <div><%- name %></div>
            <% } %>
            -->

            <% if (detail) { %>
            <section><img src="http://image.wish698.cn/c8c692660310d927f999.jpg"/></section>
            <div><%- detail %></div>
            <% } %>
            
            <% if (review) { %>
            <section><img src="http://image.wish698.cn/b78d774f107117619634.jpg"></section>
            <div><%- review %></div>
            <% } %>
    
            <% if (property) { %>
            <section><img src="http://image.wish698.cn/2a268d091b76378126fc.jpg"></section>
            <div><%- property %></div>
            <% } %>

            <% if (use) { %>
            <section><img src="http://image.wish698.cn/e15c2b3c39c88fd51b6b.jpg"/></section>
            <div><%- use %></div>
            <% } %>
            
            <% if (instruction) { %>
            <section><img src="http://image.wish698.cn/517be985cb90181ec8e5.jpg"/></section>
            <div><%- instruction %></div>
            <% } %>
    
            <% if (detailImage) { %>
            <section><img src="http://image.wish698.cn/318c99b30a8bb4032e30.jpg"/></section>
            <div><%- detailImage %></div>
            <% } %>

        </div>

        <% if(product.get('groups').length) {%>
            <% for(var i=0;i<product.get('groups').length;i++) {%>
                <% if(product.get('groups')[i].products.length) {%>
                    <div><img src="https://img.alicdn.com/imgextra/i4/42879206/TB2Dw47p9BjpuFjSsplXXa5MVXa_!!42879206.png"></div>
                    <div class="recommend-content">
            
                    </div>
                    <hr>
                    <div class="am-form">
                        <div class="form-group">
                            <label>生成代码:</label>
                            <textarea class="recommend-code" rows="3"></textarea>
                            <p>
                                <button type="button" class="am-btn am-btn-primary btn-recommend-code">生成淘宝推荐产品代码</button>
                                <button type="button" class="am-btn am-btn-primary btn-recommend-code-copy">复制淘宝推荐产品代码</button>
                            </p>
                            <div class="recommend-code-hidden"></div>
                        </div>
                    </div>
                <%}%>
            <%}%>
        <% } %>
        
    </div>
    
</div>


<div class="am-modal am-modal-alert" tabindex="-1" id="modal-shot-success">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">生成成功!</div>
        <div class="am-modal-bd">
            请在/shot目录中查看
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn">确定</span>
        </div>
    </div>
</div>

<div class="am-modal am-modal-alert" tabindex="-1" id="modal-shot-one">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">请输入图片编号</div>
        <div class="am-modal-bd">
            <input type="text" id="shot-index" />
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" onclick="webShotOne()">确定</span>
        </div>
    </div>
</div>

<% include ../partials/footer %>
<% include ../partials/js %>

<script type="text/javascript">
    $(function() {
        var productPreview = require('product-preview');
        productPreview.init();

        if($('.btn-shot-recommend').length) {
            productPreview.recommendProducts(JSON.parse('<%- groups %>'),JSON.parse('<%- groupsName %>'));
        }
    });

    function webShotOneDiv() {
        $('#modal-shot-one').modal();
    }

    function webShotOne() {
        let previewContent = $('.preview-content');

        let styles = `<style>
            body { margin:0; width:750px; background: #fff;  font-family:'Segoe UI','Lucida Grande','Helvetica','Arial','Microsoft YaHei'; font-size: 20px; line-height: 30px; }
            section { padding: 0; margin: 0 0 20px 0; }
            section img { margin:0;}
            div { padding: 0 15px; margin-bottom: 20px;}
            ul {margin: 0 0 15px 0;padding: 0 0 0 20px;}
            img { width: 100%; margin-bottom: 20px; }
            p { margin: 0 0 15px 0; padding: 0;}
        </style>`;

        let html = previewContent.html();

        let btnShot = $('.btn-shot-one');

        if(location.href.indexOf('localhost') === -1) {
            btnShot.hide();
            $('.btn-shot-recommend').hide();
        }

        btnShot.button('loading');
        let progress = $.AMUI.progress;

        btnShot.button('reset');
        progress.start();
        btnShot.button('loading').text('图片生成中...');
        $.ajax({
            url:'/admin/product/preview/shot-one',
            type:'post',
            data:{
                html:styles + html,
                segmentHeight:600,
                htmlHeight:previewContent.height(),
                shotIndex:$("#shot-index").val(),
                name:'产品-' + $('h4').text().replace(/\//g,'')
            },
            success:function() {
                progress.done();
                $('#modal-shot-success').modal();
                btnShot.button('reset').text('生成指定淘宝详情图片');
            }
        });
    }
</script>
</body>
</html>