<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <% include ../partials/css %>
</head>
<body>

    <% include ../partials/header %>

    <div class="product-preview-page">

        <div class="cf">
            
            <div class="l">
                <span class="small-screen-hide">
                <button type="button" class="am-btn am-btn-primary btn-copy">复制代码</button>
                <button type="button" class="am-btn am-btn-success btn-shot" disabled="disabled">生成淘宝详情图片</button>
                </span>
            </div>
            
            <div class="r">
                <label><input class="disable-watermark" type="checkbox"> 不显示水印</label>
            </div>
        </div>

        <hr class="small-screen-hide"/>
        
        <h4><%= name %></h4>

        <hr/>
        
        <div class="preview-content">

                <%if(banner) { %><section><img src="<%=banner%>"/></section><%}%>

                <% if (name) { %>
                <section><img src="https://img.alicdn.com/imgextra/i3/42879206/TB2ehN0hFXXXXaIXpXXXXXXXXXX_!!42879206.png"></section>
                <div><%- name %></div>
                <% } %>

                <% if (review) { %>
                <section><img src="https://img.alicdn.com/imgextra/i3/42879206/TB2XdJYhFXXXXbhXpXXXXXXXXXX_!!42879206.png"></section>
                <div><%- review %></div>
                <% } %>

                <% if (property) { %>
                <section><img src="https://img.alicdn.com/imgextra/i3/42879206/TB23rh5hFXXXXXBXpXXXXXXXXXX_!!42879206.png"></section>
                <div><%- property %></div>
                <% } %>

                <% if (instruction) { %>
                <section><img src="https://img.alicdn.com/imgextra/i3/42879206/TB2w3VZhFXXXXaCXpXXXXXXXXXX_!!42879206.png"/></section>
                <div class="content"><%- instruction %></div>
                <% } %>

                <% if (detail) { %>
                <section><img src="https://img.alicdn.com/imgextra/i3/42879206/TB2LWd4hFXXXXXqXpXXXXXXXXXX_!!42879206.png"/></section>
                <div class="content"><%- detail %></div>
                <% } %>

                <% if (use) { %>
                <section><img src="https://img.alicdn.com/imgextra/i1/42879206/TB2bUxTpVXXXXanXpXXXXXXXXXX_!!42879206.png"/></section>
                <div class="content"><%- use %></div>
                <% } %>

                <% if (detailImage) { %>
                <section><img src="https://img.alicdn.com/imgextra/i3/42879206/TB2DOWrhFXXXXXiXXXXXXXXXXXX_!!42879206.png"/></section>
                <article><%- detailImage %></article>
                <% } %>
        </div>

    </div>
    
    <div class="am-modal am-modal-alert" tabindex="-1" id="modal-shot-success">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">生成成功!</div>
            <div class="am-modal-bd">
                请在/shot目录中查看
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn">确定</span>
            </div>
        </div>
    </div>

    <% include ../partials/footer %>
    <% include ../partials/js %>

    <script type="text/javascript">
        $(function() {
            var productPreview = require('product-preview');
            productPreview.init({
                watermark:'<%= watermark.main %>'
            });
        });
    </script>

</body>
</html>