<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <% include ../partials/css %>
</head>
<body>

<% include ../partials/header %>

<div class="product-preview-page">

    <div class="preview-content">
        
        <% if (name) { %>
        <section><img src="https://img.alicdn.com/imgextra/i3/42879206/TB2ehN0hFXXXXaIXpXXXXXXXXXX_!!42879206.png"></section>
        <div><%- name %></div>
        <% } %>

        <% if (review) { %>
        <section><img src="https://img.alicdn.com/imgextra/i3/42879206/TB2XdJYhFXXXXbhXpXXXXXXXXXX_!!42879206.png"></section>
        <div><%- review %></div>
        <% } %>

        <% if (property) { %>
        <section><img src="https://img.alicdn.com/imgextra/i3/42879206/TB23rh5hFXXXXXBXpXXXXXXXXXX_!!42879206.png"></section>
        <div><%- property %></div>
        <% } %>

        <% if (instruction) { %>
        <section><img src="https://img.alicdn.com/imgextra/i3/42879206/TB2w3VZhFXXXXaCXpXXXXXXXXXX_!!42879206.png"/></section>
        <div><%- instruction %></div>
        <% } %>

        <% if (detail) { %>
        <section><img src="https://img.alicdn.com/imgextra/i3/42879206/TB2LWd4hFXXXXXqXpXXXXXXXXXX_!!42879206.png"/></section>
        <div><%- detail %></div>
        <% } %>

        <% if (use) { %>
        <section><img src="https://img.alicdn.com/imgextra/i1/42879206/TB2bUxTpVXXXXanXpXXXXXXXXXX_!!42879206.png"/></section>
        <div><%- use %></div>
        <% } %>

        <% if (detailImage) { %>
        <section><img src="https://img.alicdn.com/imgextra/i3/42879206/TB2DOWrhFXXXXXiXXXXXXXXXXXX_!!42879206.png"/></section>
        <div><%- detailImage %></div>
        <% } %>

    </div>

</div>

<% include ../partials/footer %>
<% include ../partials/js %>


</body>
</html>