<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <% include ../partials/css %>
</head>
<body>

    <% include ../partials/header %>

    <div class="product-preview-page">

        <h4><%= name %></h4>

        <hr/>
        
        <div class="preview-content">

                <% if (detail) { %>
                <section><img src="//lc-QuiPuWpJ.cn-n1.lcfile.com/c8c692660310d927f999.jpg"/></section>
                <div class="content"><%- detail %></div>
                <% } %>

                <% if (review) { %>
                <section><img src="//lc-QuiPuWpJ.cn-n1.lcfile.com/b78d774f107117619634.jpg"></section>
                <div><%- review %></div>
                <% } %>
            
                <% if (property) { %>
                <section><img src="//lc-QuiPuWpJ.cn-n1.lcfile.com/2a268d091b76378126fc.jpg"></section>
                <div><%- property %></div>
                <% } %>

                <% if (use) { %>
                <section><img src="//lc-QuiPuWpJ.cn-n1.lcfile.com/e15c2b3c39c88fd51b6b.jpg"/></section>
                <div class="content"><%- use %></div>
                <% } %>
            
                <% if (instruction) { %>
                <section><img src="//lc-QuiPuWpJ.cn-n1.lcfile.com/517be985cb90181ec8e5.jpg"/></section>
                <div class="content"><%- instruction %></div>
                <% } %>

                <% if (detailImage) { %>
                <section><img src="//lc-QuiPuWpJ.cn-n1.lcfile.com/318c99b30a8bb4032e30.jpg"/></section>
                <article><%- detailImage %></article>
                <% } %>
        </div>

    </div>
    
    <% include ../partials/footer %>
    <% include ../partials/js %>

</body>
</html>