<!DOCTYPE html>
<html>
<head>
    <% include ../partials/meta %>
    <title><%= title %></title>
    <% include ../partials/css %>
</head>
<body>

    <% include ../partials/header %>

    <div class="product-preview-page">

        <h4><%= name %></h4>

        <hr/>
        
        <div class="preview-content">

                <% if (name) { %>
                <section><img src="https://img.alicdn.com/imgextra/i3/42879206/TB2zLWap80lpuFjSszdXXcdxFXa_!!42879206.png"></section>
                <div><%- name %></div>
                <% } %>

                <% if (detail) { %>
                <section><img src="https://img.alicdn.com/imgextra/i2/42879206/TB29I9fp9tkpuFjy0FhXXXQzFXa_!!42879206.png"/></section>
                <div class="content"><%- detail %></div>
                <% } %>

                <% if (review) { %>
                <section><img src="https://img.alicdn.com/imgextra/i4/42879206/TB2CWsrs0RopuFjSZFtXXcanpXa_!!42879206.png"></section>
                <div><%- review %></div>
                <% } %>
            
                <% if (property) { %>
                <section><img src="https://img.alicdn.com/imgextra/i1/42879206/TB2u5VUp3NlpuFjy0FfXXX3CpXa_!!42879206.png"></section>
                <div><%- property %></div>
                <% } %>

                <% if (use) { %>
                <section><img src="https://img.alicdn.com/imgextra/i1/42879206/TB2DlfQs9VmpuFjSZFFXXcZApXa_!!42879206.png"/></section>
                <div class="content"><%- use %></div>
                <% } %>
            
                <% if (instruction) { %>
                <section><img src="https://img.alicdn.com/imgextra/i2/42879206/TB2nVH3AxhmpuFjSZFyXXcLdFXa_!!42879206.png"/></section>
                <div class="content"><%- instruction %></div>
                <% } %>

                <% if (detailImage) { %>
                <section><img src="https://img.alicdn.com/imgextra/i2/42879206/TB2jfeTp88lpuFjSspaXXXJKpXa_!!42879206.png"/></section>
                <article><%- detailImage %></article>
                <% } %>
        </div>

    </div>
    
    <% include ../partials/footer %>
    <% include ../partials/js %>

</body>
</html>